<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>PRODUCT DETAILS</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<ul>
					<li><p><i></i>New hair store in Lagos! For more details call: 08147034057</p></li>
					<li><p><i></i>New hair store in Lagos! For more details call: xxxxxxxxxx</p></li>
				</ul>
			</div>
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--yd链接导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###"><span>Home</span> <i></i></a></li>
						<li><a href="###"><span class="hot">Hot Sales</span> <i></i></a></li>
						<li>
							<p class="nav_p active"><span>Lace Wigs</span> <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li class="active"><a href="###">Classic Bob Wig (25)</a></li>
								<li><a href="###">Virgin Frontal Wig (12)</a></li>
								<li><a href="###">Virgin Closure Wig (16)</a></li>
								<li><a href="###">Virgin 360 Lace Wig (14)</a></li>
								<li><a href="###">U-part wig (8)</a></li>
								<li><a href="###">Color Lace Wig (15)</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Bundles With Frontalv</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>Hair Care</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Lagos Store</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>More</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">About Us</a></li>
								<li><a href="###">Real-time Feedback on social</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Wish List</span> <i></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="in_content clearfix"></div>
		<!--内容-->
		
		<div class="pro_det clearfix">
			<div class="pro_ban clearfix">
				<!--折扣-->
			    <div class="pro_discount">
			    	<span class="sp_1">-50%</span>
			    	<span class="sp_2">off</span>
			    </div>
			  	<div class="swiper-container yd_ban_lb">
				    <div class="swiper-wrapper">
				      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
				      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
				      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
				      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
				      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
				    </div>
			  	</div>
			    <div class="swiper-pagination"></div>
			</div>
	
			<div class="text_rf clearfix">
				<div class="big_rf clearfix">
					<div class="top clearfix">
						<h1>Annie Frontal Wig</h1>
						<p class="p1">
							Raw Virgin Hair Wig,High Quality Swiss Lace,Strong and Soft, 
							Never Hurt Skin.(Default Lace Color is natural black)• Very 
							Soft, Very Full, Smooth and No Smell.               
						</p>
						<div class="price">
							<em class="em1">₦54K- ₦66k</em>
							<em class="em2">₦100k - ₦120K</em>
						</div>
						<a class="get_cou" href="###"><span>Get Coupon</span></a>
						
						<div class="activity clearfix">
							<div class="img"></div>
							<p>Happy Valentine's Day</p>
							<button type="button">UP TO 50% OFF</button>
						</div>
					</div>
					<ol class="text_ol">
						<li class="clearfix">
							<span class="bt_span slide">Select Style/Color: <i></i></span>
							<p class="rf_style">5 styles</p>
							<div class="swiper-container pro_det_ul2 slide_ul clearfix">
							    <div class="swiper-wrapper">
							      	<div class="swiper-slide active"> <a href="###"><img src="img/pro_det3.jpg" alt="" /></a></div>
							      	<div class="swiper-slide"> <a href="###"><img src="img/pro_det3.jpg" alt="" /></a></div>
						      		<div class="swiper-slide"> <a href="###"><img src="img/pro_det3.jpg" alt="" /></a></div>
						      		<div class="swiper-slide"> <a href="###"><img src="img/pro_det3.jpg" alt="" /></a></div>
						      		<div class="swiper-slide"> <a href="###"><img src="img/pro_det3.jpg" alt="" /></a></div>
							    </div>
							</div>
						</li>
						
						<li class="clearfix">
							<span class="bt_span slide active">Select Length : <em></em> <i></i><p class="ts_ps">Please select Length</p></span>
							
							<ul class="pro_det_ul3 slide_ul clearfix" style="display: none;">
								<li class="active"><span>12″</span></li>
								<li><span>14″</span></li>
								<li><span>16″</span></li>
								<li><span>18″</span></li>
								<li><span>20″</span></li>
								<li><span>22″</span></li>
								<li><span>24″</span></li>
								<li><span>26″</span></li>
								<li><span>28″(model size)</span></li>
							</ul>
							<p class="size_p">Length Guide</p>
							<div class="size_img">
								<div class="img">
									<div class="close"></div>
									<img src="img/size.jpg" alt="" />
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<span class="bt_span slide active">Wig with: <em></em> <i></i></span>
							<ul class="pro_det_ul4 slide_ul clearfix" style="display: none;">
								<li class="active"><span>13*4 Frontal</span></li>
								<li><span>4*4 Closure</span></li>
							</ul>
						</li>
						
						<!--这个box只有在box的详情页才显示-->
						<li class="clearfix box_li active">
							<span class="bt_span active">Wig Making Service</span>
							<ol class="box_ol">
								<li class="active"><span>Yes</span></li>
								<li><span>No</span></li>
							</ol>
						</li>
						
						<li class="clearfix number_li_yd clearfix">
							<div class="number clearfix">
								<p class="quantity clearfix">Quantity :</p>
								<div class="label clearfix">
									<span class="span_sub"><em class="sub"></em></span>
									<input type="text" class="num_in" value="1" />
									<span class="span_add"><em class="add"></em></span>
								</div>
								<!--收藏-->
								<i class="wish_btn add_class"></i>
							</div>
						</li>
						
						<li class="clearfix">
							<!--<button class="shop_btn"><span><i><em>54</em></i> <p>Check Out</p></span></button>-->
							<button class="shop_a">Add To Shopping Bag</button>
							<button class="buy_a">Buy Now</button>
						</li>
					</ol>
					<ol class="text_ol">
						<!--默认展开评价-->
						<li class="active clearfix">
							<h2 class="">Reviews (119) 
								<div class="start clearfix">
									<i class="bg_hui"><i class="bg_red" style="width: 50%"></i></i>
								</div>
							</h2>
							<div class="slide_text">
								<div class="pl_div">
									<div class="p1 clearfix">
										<span>A***G</span>
									</div>
									<div class="start clearfix">
										<i class="bg_hui"><i class="bg_red" style="width: 50%"></i></i>
									</div>
									<p class="p2">
										Very nice unit...hair is very soft and shiny. Not a lot of shedding after
										cowash. I will definitely use this seller again, quick delivery and the seller 
										stays in touch.
									</p>
									
									<ol class="pl_img_ol clearfix">
										<li><img src="img/pinglun.jpg" alt="" /></li>
										<li><img src="img/pinglun.jpg" alt="" /></li>
										<li><img src="img/pinglun.jpg" alt="" /></li>
									</ol>
									
									<div class="pro_big_img">
										<div class="text_madal">
											<div class="swiper-container" id="swiper3">
											    <div class="swiper-wrapper">
											      	<div class="swiper-slide ban_img">
											      		<img src="img/pro_det5.jpg"/>
											      	</div>
												    <div class="swiper-slide ban_img">
												    	<img src="img/pro_det4.jpg"/>
												    </div>
												    <div class="swiper-slide ban_img">
												    	<img src="img/pro_det5.jpg"/>
												    </div>
											    </div>
												<div class="swiper-paginations" style="display: none;"></div>
											</div>
											<div class="close" ></div>
											<div class="fy_zsq"><i class="fy_i1">2</i>/<i class="fy_i2">5</i></div>
										</div>
									</div>
									
									<a class="view_a" href="###">View All Reviews <i>></i></a>
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<h2 class="slide_h2">Details <em class="jian"></em></h2>
							<div class="slide_text">
								<div class="details">
									<div class="video" style="position: relative;">
										<div class="bf_img"></div>
										<video id="video" poster="img/wig_bf_bg.jpg" width="100%" src="img/myvideo.mp4"></video>
									</div>
									<p>Model Length: 24"</p>
									<p>Fiber: 100% Remy Human Hair</p>
									<p>Density: Full</p>
									<p>Texture: Straight</p>
								</div>
							</div>
						</li>
						
						<li class="clearfix">
							<h2 class="slide_h2">Shipping & Returns <em class="jian"></em></h2>
							<div class="slide_text">
								<dl>
									<dt>Shipping</dt>
									<dd>Ready to ship in 1-3 Days</dd>
									<dd>From Lagos Get the shipping cost</dd>
								</dl>
								<dl>
									<dt>Return Policy</dt>
									<dd class="dd_s">We gladly accept returns and exchanges</dd>
									<dd>Contact us within: 5 days of delivery</dd>
									<dd>Ship items back within : 10 days of delivery</dd>
									
									<dd class="dd_s">We don't accept cancellations</dd>
									<dd>
										But please contact us if you have any problems with your order.
										The following items can't be returned or exchanged
										Because of the nature of these items, unless they arrive damaged or 
										defective,
									</dd>
									
									<dd class="dd_s">I can't accept returns for:</dd>
									<dd>Custom or personalized orders</dd>
									
									<dd class="dd_s">Conditions of return</dd>
									<dd>
										Buyers are responsible for return shipping costs. If the item is not 
										returned in its original condition, the buyer is responsible for any loss 
										in value.
									</dd>
								</dl>
							</div>
						</li>
						<li class="clearfix">
							<h2 class="slide_h2">Payment Method <em class="jian"></em></h2>
							<div class="slide_text">
								<ul class="pay_ul pay_img clearfix">
									<li><img src="img/png/fot1_.png"/></li>
									<li><img src="img/png/fot2_.png"/></li>
									<li><img src="img/png/fot3_.png"/></li>
									<li><img src="img/png/fot4_.png"/></li>
									<li><img src="img/png/fot5_.png"/></li>
								</ul>
							</div>
						</li>
						
						<li class="clearfix">
							<h2 class="slide_h2">Share <em class="jian"></em></h2>
							<div class="slide_text">
								<ul class="pay_ul share_img clearfix">
									<li><a href="###"><img src="img/png/icon_35_.png"/></a></li>
									<li><a href="###"><img src="img/png/icon_34_.png"/></a></li>
								</ul>
							</div>
							<hr class="li_hr" />
						</li>
					</ol>
				</div>
			</div>
		
			<div class="bottom content">
				<button class="yd_ft_btn"><img src="img/png/top_jt.png"/><span>TOP</span></button>
				<h5>YOU MAY ALSO LIKE</h5>
				
				<!-- Swiper -->
				<div class="swiper-container in_ul2 pro_list">
				    <div class="swiper-wrapper">
				      <div class="swiper-slide clearfix">
				      	<div class="bg_fff clearfix">
							<div class="pic_img clearfix">
								<a href="###">
									<img class="lazyLoad change_img" srcs="img/in_ul5.jpg" data-src="img/in_ul5.jpg" />
								</a>
							</div>
							<div class="text clearfix">
								<a class="ov_text" href="###">Annie Frontal Wig  </a>
								<div class="price_sp">
									<span class="price_sp1">₦69K</span>
									<span class="price_sp2">₦169K</span>
								</div>
								<a href="###" class="start">
									<i class="bg_hui"><i class="bg_red" style="width: 50%"></i></i>
									<span>(14)</span>
								</a>
								<div class="like"></div>
							</div>
							<div class="discount"><span class="sp_1">-50%</span><span class="sp_2">off</span></div>
						</div>
				      </div>
				    </div>
			    	<!-- Add Arrows -->
				    <div class="swiper-button-next"></div>
				    <div class="swiper-button-prev"></div>
			  	</div>
			</div>
		</div>
		
		
		
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
	</body>
</html>
<script>
window.onload=function(){
	$(function(){
		
		//数量加减
		$(".number .span_add").click(function(){
			var num_val =$(this).parents(".number").find(".num_in").val();
			num_val++;
			$(this).parents(".number").find(".num_in").val(num_val);
		})
		$(".number .span_sub").click(function(){
			var num_val =$(this).parents(".number").find(".num_in").val();
			if(num_val>1){
				num_val--;
				$(this).parents(".number").find(".num_in").val(num_val);
			}
		})
		
		//style/color选择
		new Swiper('.pro_det_ul2', {
	      slidesPerView: 3.3,
	      spaceBetween: '3%',
	    });
		$(".pro_det_ul2 .swiper-slide").click(function(){
			$(this).addClass("active").siblings(".swiper-slide").removeClass("active");
		})
		//length选择
		$(".pro_det_ul3").siblings(".bt_span").find("em").text($(".pro_det_ul3>li").eq(0).find("span").text());
		$(".pro_det_ul3>li>span").click(function(){
			$(this).parents("li").addClass("active").siblings("li").removeClass("active");
			$(this).parents("li").find(".slide>em").text($(this).text());
		})
		//wig with选择
		$(".pro_det_ul4").siblings(".bt_span").find("em").text($(".pro_det_ul4>li").eq(0).find("span").text());
		$(".pro_det_ul4>li").click(function(){
			$(this).addClass("active").siblings("li").removeClass("active");
			$(this).parents("li").find(".slide>em").text($(this).text());
		})
		
		
		//默认隐藏显示
		$(".bt_span").each(function(){
			if($(this).hasClass("off")){
				$(this).siblings("ul").slideDown();
			}else{
				$(this).siblings("ul").slideUp();
			}
		})
		
		//下拉收起
		$(".slide").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).siblings(".slide_ul").stop().slideDown();
			}else{
				$(this).addClass("active");
				$(this).siblings(".slide_ul").stop().slideUp();
			}
		})
		$(".pro_det .text_rf .text_ol>li.active .slide_text").css("display","block");		
		$(".slide_h2").click(function(){
			if($(this).parent().hasClass("active")){
				$(this).siblings(".slide_text").stop().slideUp();
				$(this).parent().removeClass("active");
				$(this).find("em").removeClass("active");
			}else{
				$(".slide_h2").siblings(".slide_text").stop().slideUp();
				$(".slide_h2").parent().removeClass("active");
				$(".slide_h2").find("em").removeClass("active");
				$(this).siblings(".slide_text").stop().slideDown();
				$(this).parent().addClass("active");
				$(this).find("em").addClass("active");
			}
		})
		
		
		//绑定评价轮播
		var modal_off = 0;
		$(".pl_img_ol>li").click(function(event){
			event.stopPropagation();
			var this_index = $(this).index();
			var this_len = $(".pl_img_ol>li").length;
			$(".fy_zsq .fy_i1").text(this_index+1);
			$(".fy_zsq .fy_i2").text(this_len);
			$(".pro_big_img").show();
			modal_off = 1;
			
//			评价轮播
			new Swiper('#swiper3', {
				autoHeight: true,
				pagination: {
					el: '.swiper-paginations',
					clickable: true,
			    },
			    on: {
				    slideChangeTransitionStart: function(){
				      $(".fy_zsq .fy_i1").text(this.activeIndex+1);
					  $(".fy_zsq .fy_i2").text($(".pl_img_ol>li").length);
				    },
				 },
			});
			$(".pro_big_img .swiper-pagination-clickable span").eq(this_index).trigger('click');
		})
		//关闭评价轮播
		$(".pro_big_img .close").click(function(){
			$(".pro_big_img").hide();
		})
		$("body").click(function(e){
			if($(window).width()<=920){
				if(modal_off==1){
					var close = $('.text_madal .swiper-container img , .text_madal .swiper-paginations'); 
				   	if(!close.is(e.target) && close.has(e.target).length === 0){
				      	$(".pro_big_img").slideUp();
					}
				}
				
		   }
		})
		//视频播放
		var video = document.getElementById("video");
		$(".video .bf_img").click(function(){
			$(this).css("display","none");
			document.getElementById("video").play();
			$(this).siblings("video").attr("controls","controls");
		});
		
		
		//返回顶部
		$(".bottom .ft_btn,.bottom .yd_ft_btn").click(function(event){
			event.preventDefault();
			$('html,body').animate({
			    scrollTop: 0
			}, 500);
		})
	
		//ydban轮播
		new Swiper('.yd_ban_lb', {
		  autoplay: true,
		  pagination: {
		    el: '.swiper-pagination',
		    clickable: true,
		  },
		});
		
		//底部产品轮播
		new Swiper('.in_ul2', {
		      slidesPerView: 2,
		      spaceBetween: '3%' ,
		      slidesPerGroup: 2,
		      loop: true,
		      autoplay: false,
		      loopFillGroupWithBlank: true,
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		});
		
		$(".pro_list").delegate(".like","click",function(){
			$(this).toggleClass("active");
		})
	})
	
	
	//size
	$(".size_p").click(function(){
		$(".size_img").fadeIn();
		$("body").css("overflow","hidden");
	})
	$(".size_img .close").click(function(){
		$(".size_img").fadeOut();
		$("body").css("overflow","");
	})
	$(".size_img").click(function(e){
      var close = $('.size_img .img'); 
         if(!close.is(e.target) && close.has(e.target).length === 0){
           $(".size_img").fadeOut();
           $("body").css("overflow","");
      }
    })
	
	//box 选择
	$(".box_ol>li").click(function(){
		$(this).addClass("active").siblings("li").removeClass("active");
	})
	
}


</script>

