<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>SHOPCART1</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<ul>
					<li><p><i></i>New hair store in Lagos! For more details call: 08147034057</p></li>
					<li><p><i></i>New hair store in Lagos! For more details call: xxxxxxxxxx</p></li>
				</ul>
			</div>
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--yd链接导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###"><span>Home</span> <i></i></a></li>
						<li><a href="###"><span class="hot">Hot Sales</span> <i></i></a></li>
						<li>
							<p class="nav_p active"><span>Lace Wigs</span> <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li class="active"><a href="###">Classic Bob Wig (25)</a></li>
								<li><a href="###">Virgin Frontal Wig (12)</a></li>
								<li><a href="###">Virgin Closure Wig (16)</a></li>
								<li><a href="###">Virgin 360 Lace Wig (14)</a></li>
								<li><a href="###">U-part wig (8)</a></li>
								<li><a href="###">Color Lace Wig (15)</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Bundles With Frontalv</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>Hair Care</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Lagos Store</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>More</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">About Us</a></li>
								<li><a href="###">Real-time Feedback on social</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Wish List</span> <i></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="in_content clearfix"></div>
		<!--内容-->
		<div class="shop_con clearfix">
			<div class="top_yd clearfix">
				<h1><a class="fh" href="###">< BACK</a> MY SHOPPING BAG</h1>
			</div>
			
			<div class="shop_content">
				<div class="text">
					<div class="qx">
						<label for="" class="qx_label">
							<input class="check_input" type="checkbox">
							<i class="check_i"></i>
							<span>ALL</span>
						</label>
					</div>
					<!--购物车列表-->
					<ul class="shop_ul">
						<li class="clearfix">
							<div class="top clearfix">
								<label for="" class="dx_label">
									<input class="check_input" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1 lazyLoad" srcs="img/yd_shop1.jpg" alt="" />
									<span class="text_p">
										<p class="p1 ov_text">KIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIG</p>
										<p class="p2">Nature black , 18″</p>
										<p class="p2">13*4 Frontal cap</p>
									</span>
								</a>
								<div class="price_div">
									<span class="prices">₦54K</span>
									<span class="price">₦100K</span>
								</div>
								<div class="num_label">
									<span class="sub_span"><em class="sub"></em></span>
									<input type="text" class="num_in" value="1" />
									<span class="add_span"><em class="add"></em></span>
								</div>
							</div>
							<div class="shop_close"></div>
						</li>
						
						<li class="clearfix">
							<div class="top clearfix">
								<label for="" class="dx_label">
									<input class="check_input" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1 lazyLoad" srcs="img/yd_shop1.jpg" alt="" />
									<span class="text_p">
										<p class="p1 ov_text">KIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIG</p>
										<p class="p2">Nature black , 18″</p>
										<p class="p2">13*4 Frontal cap</p>
									</span>
								</a>
								<div class="price_div">
									<span class="prices">₦54K</span>
									<span class="price">₦100K</span>
								</div>
								<div class="num_label">
									<span class="sub_span"><em class="sub"></em></span>
									<input type="text" class="num_in" value="1" />
									<span class="add_span"><em class="add"></em></span>
								</div>
							</div>
							<div class="shop_close"></div>
						</li>
						
						<li class="clearfix">
							<div class="top clearfix">
								<label for="" class="dx_label">
									<input class="check_input" type="checkbox">
									<i class="check_i"></i>
								</label>
								<a class="text" href="###">
									<img class="img1 lazyLoad" srcs="img/yd_shop1.jpg" alt="" />
									<span class="text_p">
										<p class="p1 ov_text">KIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIG</p>
										<p class="p2">Nature black , 18″</p>
										<p class="p2">13*4 Frontal cap</p>
									</span>
								</a>
								<div class="price_div">
									<span class="prices">₦54K</span>
									<span class="price">₦100K</span>
								</div>
								<div class="num_label">
									<span class="sub_span"><em class="sub"></em></span>
									<input type="text" class="num_in" value="1" />
									<span class="add_span"><em class="add"></em></span>
								</div>
							</div>
							<div class="shop_close"></div>
						</li>
						
						<li class="clearfix gift_li">
							<div class="top clearfix">
								<label for="" class="dx_label">
								</label>
								<a class="text" href="###">
									<img class="img1 lazyLoad" srcs="img/yd_shop1.jpg" alt="" />
									<span class="text_p">
										<p class="p1">Wash Nursing Suite</p>
										<p class="p2">Free gift for THE BLACK FRIDAY</p>
										<p class="gift clear clearfix">Gift X1</p>
									</span>
								</a>
								<div class="price_div">
									<span class="prices">₦0K</span>
									<span class="price">₦100K</span>
								</div>
							</div>
							
						</li>
						
					</ul>
					<!--地址-->
					<ol class="shop_type_ol clearfix">
						<li class="active">
							<div class="li_label">
								<i class="ck_i active"></i>
								<span>Shipping</span>
							</div>
							<em class="sjx_em"></em>
						</li>
						<li>
							<div class="li_label">
								<i class="ck_i"></i>
								<span>Pick up</span>
							</div>
							<em class="sjx_em"></em>
						</li>
					</ol>
					<ul class="shop_type_ul clearfix">
						<li class="active clearfix">
							<label for="">
								<span>Country*</span>
								
								<div class="select clearfix">
									<select name="">
										<option value="">Nigeria</option>
										<option value="">Nigeria</option>
										<option value="">Nigeria</option>
										<option value="">Nigeria</option>
									</select>
								</div>
							</label>
							<label for="">
								<span>City*</span>
								<select name="">
									<option value="">Lagos</option>
									<option value="">Lagos</option>
									<option value="">Lagos</option>
									<option value="">Lagos</option>
								</select>
							</label>
							<span class="ship_span">Shipping Cost:  ₦6K</span>
							<button type="button" class="get_ship"><span>Get shipping cost here</span> </button>
							<p class="ship_p">NOTE* Final cost based on pratice</p>
						</li>
						<li class="clearfix">
							<p class="pick_1">Lagos Store</p>
							<p class="pick_2">
								House number 1, 7A Justice g.b.a. coker estate, 
								Obafemi awolowo way, Ikeja Lagos, Nigeria
							</p>
						</li>
					</ul>
					
					<!--结算-->
					<div class="total clearfix">
						<div class="right">
							<div class="slide_p">
								<p>Sub-Total <span>₦216K</span></p>
								<p>Reward Points (0) <span>-₦0K</span></p>
								<p>Total Shipping<span>₦0K</span></p>
								<p><i class="xl_i">Coupon:Summer Sale <em></em></i> <span>-₦5K</span></p>
								<ul class="xl_ul clearfix">
									<li class="active clearfix">
										<span>Summer Sale</span>
										<em>-₦5K</em>
									</li>
									<li class=" clearfix">
										<span>Summer Sale</span>
										<em>-₦5K</em>
									</li>
									<li class=" clearfix">
										<span>Summer Sale</span>
										<em>-₦5K</em>
									</li>
									<li class="hui clearfix">
										<span>Summer Sale 1</span>
										<em>-₦3K</em>
									</li>
								</ul>
							</div>
							
							<p class="total_p clearfix">
								<i class="text_i">Coupon: <i>- ₦5K</i></i>
								<span>Total</span>
								<i class="img_i"></i>
								<em>₦216K</em>
							</p>
							<a class="btn_a" href="###">Check Out</a>
						</div>
						
						<div class="left">
							<label class="label_are clearfix" for="">
								<span>Order Notes :</span>
								<textarea placeholder="Leave message here if you have any further request."></textarea>
							</label>
						</div>
					</div>
					
				</div>
			</div>
		</div>	
		
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES</h1>
						<ul>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
						</ul>
					</div>
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
				</div>
			</div>
		</div>
	
		<!--运费表-->	
		<div class="modal yfb_modal">
			<div class="text">
				<div class="close"></div>
				<div class="yfb_div clearfix">
					<dl>
						<dt>
							<span>CITY</span>
							<span>RATE</span>
						</dt>
						<dd>
							<span class="sp_1">Lagos</span>
							<span class="sp_2">₦1500</span>
						</dd>
						<dd>
							<span class="sp_1">Auchi</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Ekpoma</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Warri</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Benin</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Ilorin</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Ibadan</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Akure</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Osogbo</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Sango Ota</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Abeokuta</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Kano</span>
							<span class="sp_2">₦3000</span>
						</dd>
						<dd>
							<span class="sp_1">Minna</span>
							<span class="sp_2">₦3000</span>
						</dd><dd>
							<span class="sp_1">Jos</span>
							<span class="sp_2">₦3000</span>
						</dd>
						<dd>
							<span class="sp_1">Other country</span>
							<span class="sp_2">₦10000</span>
						</dd>
					</dl>
					<dl>
						<dt>
							<span>CITY</span>
							<span>RATE</span>
						</dt>
						<dd>
							<span class="sp_1">Aba</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Abuja</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Asaba</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Enugu</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Owerri</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Port Harcourt</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Yenagoa</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Umuahia</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Awaka</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Uyo</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Calabar</span>
							<span class="sp_2">₦2000</span>
						</dd>
						<dd>
							<span class="sp_1">Kaduna</span>
							<span class="sp_2">₦3000</span>
						</dd><dd>
							<span class="sp_1">Zaria</span>
							<span class="sp_2">₦3000</span>
						</dd>
						<dd>
							<span class="sp_1">Makurdi</span>
							<span class="sp_2">₦3000</span>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	
	</body>
</html>
<script>
	$(function(){
	//数量加减
		$(".num_label .add_span").click(function(){
			$(this).siblings(".num_in").val(parseInt($(this).siblings(".num_in").val())+1);
		})
		$(".num_label .sub_span").click(function(){
			if(parseInt($(this).siblings(".num_in").val())>1){
				$(this).siblings(".num_in").val(parseInt($(this).siblings(".num_in").val())-1);
			}
		})
		
	//全选
		$(".qx_label input").click(function(){
			if($(this).prop("checked")){
				$(this).siblings(".check_i").addClass("active");
				$(".dx_label input").each(function(){
					$(this).prop("checked",true);
					$(this).siblings(".check_i").addClass("active");
				})
			}else{
				$(this).siblings(".check_i").removeClass("active");
				$(".dx_label input").each(function(){
					$(this).prop("checked","");
					$(this).siblings(".check_i").removeClass("active");
				})
			}
		})
	//单选
		$(".dx_label input").click(function(){
			if($(this).prop("checked")){
				$(this).siblings(".check_i").addClass("active");
				var len = $(".dx_label .check_i").length;
				var i=0;
				$(".dx_label .check_i").each(function(){
					if($(this).hasClass("active")){
						i++
					}
					return i;
				})
				if(i>=len){
					$(".qx_label input").prop("checked",true);
					$(".qx_label .check_i").addClass("active");
				}
				
			}else{
				$(this).siblings(".check_i").removeClass("active");
				$(".qx_label .check_i").removeClass("active");
				$(".qx_label input").prop("checked","");
			}
		})
	//刪除當前購物車訂單	
		$(".shop_close").click(function(){
			$(this).parents("li").remove();
		})
		
	//点击切换pick ship
		$(".shop_type_ol .li_label").click(function(){
			$(this).parents("li").addClass("active").siblings("li").removeClass("active");
			$(".shop_type_ol .li_label .check_i").removeClass("active");
			$(this).find(".check_i").addClass("active");
			$(".shop_type_ul>li").eq($(this).parents("li").index()).addClass("active").siblings("li").removeClass("active");
		})
		
	
	//下拉收起
		$(".xl_i").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).parents(".total").find(".xl_ul").stop().slideUp();
			}else{
				$(this).addClass("active");
				$(this).parents(".total").find(".xl_ul").stop().slideDown();
			}
		})
	//下拉li
		$(".xl_ul>li").click(function(){
			if(!$(this).hasClass("hui")){
				if($(this).hasClass("active")){
					$(this).removeClass("active");
				}else{
					$(this).addClass("active").siblings("li").removeClass("active");
				}
			}
		})
		
	//打开运费表
		$(".get_ship").click(function(){
			$(".yfb_modal").fadeIn();
			$(".yfb_modal .text").animate({bottom:0});
		})
		$(".yfb_modal .close").click(function(){
			$(".yfb_modal").fadeOut();
			$(".yfb_modal .text").animate({bottom:'-100%'})
		})
	})
</script>