<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>LAGOS STORE</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<ul>
					<li><p><i></i>New hair store in Lagos! For more details call: 08147034057</p></li>
					<li><p><i></i>New hair store in Lagos! For more details call: xxxxxxxxxx</p></li>
				</ul>
			</div>
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--yd链接导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###"><span>Home</span> <i></i></a></li>
						<li><a href="###"><span class="hot">Hot Sales</span> <i></i></a></li>
						<li>
							<p class="nav_p active"><span>Lace Wigs</span> <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li class="active"><a href="###">Classic Bob Wig (25)</a></li>
								<li><a href="###">Virgin Frontal Wig (12)</a></li>
								<li><a href="###">Virgin Closure Wig (16)</a></li>
								<li><a href="###">Virgin 360 Lace Wig (14)</a></li>
								<li><a href="###">U-part wig (8)</a></li>
								<li><a href="###">Color Lace Wig (15)</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Bundles With Frontalv</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>Hair Care</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Lagos Store</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>More</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">About Us</a></li>
								<li><a href="###">Real-time Feedback on social</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Wish List</span> <i></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="in_content clearfix"></div>
		<!--内容-->
		<div class="wig2 clearfix">
			<h1>Lagos Store</h1>
			
			<div class="top clearfix">
				<div class="img_lb clearfix">
					<div class="swiper-container" id="swiper1">
					    <div class="swiper-wrapper" style="cursor:-webkit-grab;">
					      	<div class="swiper-slide ban_img">
					      		<img class="changeimage lazyLoad" data-image='img/wig5.jpg' data-mimage='img/yd_wig5.jpg'  />
					      	</div>
						    <div class="swiper-slide ban_img">
						    	<img class="changeimage lazyLoad" data-image='img/wig5.jpg' data-mimage='img/yd_wig5.jpg'  />
						    </div>
						    <div class="swiper-slide ban_img">
						    	<img class="changeimage lazyLoad" data-image='img/wig5.jpg' data-mimage='img/yd_wig5.jpg'  />
						    </div>
					    </div>
					</div>
					<div class="swiper-pagination"></div>
			    	<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
				<div class="right">
					<div class="map_text clearfix">
						<h2>LAGOS STORE LOCATION</h2>
						<h2 class="fen">Lagos,Nigeria</h3>
						<dl class="dl_1">
							<dt>SHOP ADDRESS:</dt>
							<dd>House number 1, 7A Justice g.b.a. coker estate, Obafemi awolowo 
								way, Ikeja Lagos, Nigeria</dd>
						</dl>
						<dl class="dl_2">
							<dt>BUSINESS HOURS:</dt>
							<dd>MONDAY - SATURDAY : 9AM - 6PM  </dd>
							<dd>SUNDAY : 2PM - 6PM </dd>
							<dd>CONTACT : 09060008426</dd>
						</dl>
					</div>
				</div>
				<div class="contact_form">
					<form action="">
						<h4>Make An Appointment</h4>
						<p class="form_p1">Request A New Appointment</p>
						<label for="" class="w_100 clearfix">
							<span>DATE <span class="fen">*</span></span>
							<input type="text" class="time"  />
						</label>
						<label for="" class="w_100 clearfix">
							<span>SERVICE <span class="fen">*</span></span>
							<select name="">
								<option value="">Hair bundles and frontal sew in (10K)</option>
								<option value="">Hair bundles and frontal coloring (10K)</option>
								<option value="">Wig coloring (10K)</option>
								<option value="">Bleaching lace knot (7K)</option>
							</select>
							<button class="service_btn fen" type="button">+ Add Another Service</button>
						</label>
						
						<label for="" class="w_50 fl clearfix">
							<span>FIRST NAME <span class="fen">*</span></span>
							<input type="text" placeholder="" />
						</label>
						<label for="" class="w_50 fr clearfix">
							<span>LAST NAME <span class="fen">*</span></span>
							<input type="text" placeholder="" />
						</label>
						<label for="" class="w_100 clearfix">
							<span>PHONE <span class="fen">*</span></span>
							<input type="text" placeholder="" />
						</label>
						<label for="" class="w_100 clearfix">
							<span>E-MAIL <span class="fen">*</span></span>
							<input type="text" placeholder="" />
						</label>
						<label for="" class="w_100 clearfix">
							<span>MESSAGE <span class="fen">*</span></span>
							<textarea></textarea>
						</label>
						<p class="form_p2">Questions? Call: 02072318833</p>
						<button type="submit">Make An Appointment</button>
					</form>
				</div>
			</div>
			
		</div>
		
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES</h1>
						<ul>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
						</ul>
					</div>
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
				</div>
			</div>
		</div>
	
	</body>
</html>
<link rel="stylesheet" href="css/time.css" />
<script type="text/javascript" src="js/time.js" ></script>

<script type="text/javascript">
	$(function(){
		//banner轮播
		var swiper1 = new Swiper('#swiper1', {
			loop:true,
			navigation: {
			    nextEl: '.swiper-button-next',
			    prevEl: '.swiper-button-prev',
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
		    },
		});
		
		$(".service_btn").click(function(){
			let fw_text = 
				'<select name="">'
					+'<option value="">Hair bundles and frontal sew in (10K)</option>'
					+'<option value="">Hair bundles and frontal coloring (10K)</option>'
					+'<option value="">Wig coloring (10K)</option>'
					+'<option value="">Bleaching lace knot (7K)</option>'
				+'</select>';
			if($(".contact_form select").length<=2){
				$(".service_btn").before(fw_text);
				if($(".contact_form select").length==3){
					$(".service_btn").hide();
				}
			}
		})
		
		//時間插件
		function getNow(s) {
	   		return s < 10 ? '0' + s: s;
		}
		let myDate = new Date();
		let year=myDate.getFullYear();
		let month=myDate.getMonth()+1;
		let day=myDate.getDate(); 
		let now=year+'-'+getNow(month)+"-"+getNow(day);
		window.onload =function(){
			$(".time").attr("value",now);
		}
		$(".time").on("click",function(e){
			e.stopPropagation();
			$(this).lqdatetimepicker({
				css : 'datetime-day',
				dateType : 'D',
				selectback : function(){
				}
			});
	
		});
	})
</script>
