<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title></title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<ul>
					<li><p><i></i>New hair store in Lagos! For more details call: 08147034057</p></li>
					<li><p><i></i>New hair store in Lagos! For more details call: xxxxxxxxxx</p></li>
				</ul>
			</div>
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--yd链接导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###"><span>Home</span> <i></i></a></li>
						<li><a href="###"><span class="hot">Hot Sales</span> <i></i></a></li>
						<li>
							<p class="nav_p active"><span>Lace Wigs</span> <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li class="active"><a href="###">Classic Bob Wig (25)</a></li>
								<li><a href="###">Virgin Frontal Wig (12)</a></li>
								<li><a href="###">Virgin Closure Wig (16)</a></li>
								<li><a href="###">Virgin 360 Lace Wig (14)</a></li>
								<li><a href="###">U-part wig (8)</a></li>
								<li><a href="###">Color Lace Wig (15)</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Bundles With Frontalv</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>Hair Care</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Lagos Store</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>More</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">About Us</a></li>
								<li><a href="###">Real-time Feedback on social</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Wish List</span> <i></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="in_content clearfix"></div>
		<!--内容-->
		<div class="fot_cont">
			<div class="fot_text fot_text3">
				<h1>RETURN POLICY</h1>
				<div class="text">
					<h2>We gladly accept returns and exchanges</h2>
					<p><span>Contact us</span> within: 5 days of delivery.</p>
					<p>Ship items back within : 10 days of delivery.</p>
					
					<h2>We don't accept cancellations</h2>
					<p>But please contact us if you have any problems with your order.
					The following items can't be returned or exchanged
					Because of the nature of these items, unless they arrive damaged or defective.</p>
					
					<h2>We can't accept returns for:</h2>
					<p>Custom or personalized orders.</p>
					
					<h2>Conditions of return</h2>
					<p>
						Buyers are responsible for return shipping costs. If the item is not returned 
						in its original condition, the buyer is responsible for any loss in value.
					</p>
				</div>
				
			</div>
		</div>
		
			
		<!--yd底部-->
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		<!--悬浮vip-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--contact弹窗-->
		<div class="con_modal clearfix">
			<div class="text">
				<h1>CONTACT US</h1>
				<ol class="con_ol">
					<li>
						<a class="con_email" href="javascript:;">
							<img class="con_img" src="img/png/icon_86.png"/>
							<p class="con_p">E-mail</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_87.png"/>
							<p class="con_p">WhatsApp</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_88.png"/>
							<p class="con_p">Instagram</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_89.png"/>
							<p class="con_p">Facebook</p>
						</a>
					</li>
				</ol>
			</div>
			
			<div class="context">
				<div class="close"></div>
				<h1>contact us</h1>
				<p>Thank you for your message, we will contact you within 24 hours.</p>
				<form action="">
					<input type="text" placeholder="XIAOXIAO" />
					<input type="text" placeholder="Your Email" />
					<input type="text" placeholder="Your Phone" />
					<textarea placeholder="Message"></textarea>
					<button type="submit">Send Message</button>
				</form>
			</div>
		</div>
		
		<!--客户评价弹窗-->
		<div class="khpj_midal clearfix">
			<div class="text clearfix">
				<div class="close"></div>
				<div class="left clearfix">
					<div class="swiper-container pl_lb">
						
					    <div class="swiper-wrapper">
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					    </div>
					    <!-- Add Pagination -->
					    <div class="swiper-pagination"></div>
					    <!-- Add Arrows -->
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					</div>
				</div>
				<div class="right clearfix">
					<div class="name clearfix">
						<img src="img/png/touxiang2.png"/>
						<span>A***G</span>
					</div>
					<div class="pro clearfix">
						<img src="img/pro_2.jpg" alt="" />
						<div class="text_p">
							<p>Wholesale Order N14k 2x6 Kim K Lace  Closure 12 Inch</p>
							<span>Length: 16 & 16 & 18</span>
							<a href="###">SHOP NOW</a>
						</div>
					</div>
					<div class="pinlun clearfix">
						<ol class="start_ol">
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li></li>
						</ol>
						<span>June 28,2018</span>
						<p>
							Very nice unit...hair is very soft and shiny. Not a lot of shedding lalalala
							aftercowash. I will definitely use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash. I will definitely use 
							this seller again, quick delivery and the seller , use this seller again, quick 
							delivery and the seller stays in touch.Not a lot of shedding aftercowash. 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash.Very nice unit...hair 
							is very soft and shiny. Not a lot of shedding aftercowash. I will definitely 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. I will definitely use this seller again, quick 
							delivery and the seller , use this seller again, quick delivery and the seller 
							stays in touch.Not a lot of shedding aftercowash. use this and the seller 
							stays in touch.Not a lot of shedding aftercowash. 
						</p>
						<div class="zan">
							<span>999</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal clearfix">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close5.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES </h1>
						<ul class="ls_ul clearfix">
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
	</body>
</html>
		