<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>ORDER DTEAILS</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<ul>
					<li><p><i></i>New hair store in Lagos! For more details call: 08147034057</p></li>
					<li><p><i></i>New hair store in Lagos! For more details call: xxxxxxxxxx</p></li>
				</ul>
			</div>
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--yd链接导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###"><span>Home</span> <i></i></a></li>
						<li><a href="###"><span class="hot">Hot Sales</span> <i></i></a></li>
						<li>
							<p class="nav_p active"><span>Lace Wigs</span> <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li class="active"><a href="###">Classic Bob Wig (25)</a></li>
								<li><a href="###">Virgin Frontal Wig (12)</a></li>
								<li><a href="###">Virgin Closure Wig (16)</a></li>
								<li><a href="###">Virgin 360 Lace Wig (14)</a></li>
								<li><a href="###">U-part wig (8)</a></li>
								<li><a href="###">Color Lace Wig (15)</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Bundles With Frontalv</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>Hair Care</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Lagos Store</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>More</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">About Us</a></li>
								<li><a href="###">Real-time Feedback on social</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Wish List</span> <i></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="in_content clearfix"></div>
		<!--内容-->
		<div class="ordet_con clearfix">
			<div class="or_content clearfix">
				<div class="top_yd clearfix">
					<p><a class="fh" href="###">< BACK</a> <span>Order No:000001</span></p>
				</div>
				
				<div class="zt_top clearfix">
					<em class="line_h"></em>
					<h1><i></i> <span>Pending </span><p>(2018-09-07)</p></h1>
					<p class="p1">Please finish payment or upload the bank alert.</p>
					<p class="p1">Or it will be invalid in 
						<span class="span_r djs_p" title="2018/09/20 19:00:00">
							<span class="int_hour">02</span><i>:</i>
							<span class="int_minute">00</span><i>:</i>
							<span class="int_second">00</span>
						</span>
					</p>
				</div>
				
				<div class="pro_order clearfix">
					<h1>Product information</h1>
					<ul>
						<li class="clearfix">
							<a href="###">
								<div class="pic_img">
									<img src="img/yd_shop1.jpg"/>
								</div>
								<p class="ov_text">10”-30” Virgin Brazilioan 10”-30” VirginVirginVirginVirginVirgin...</p>
								<p class="type">Natural black; 12inch <i><br /></i> 4*13 frontal cap;</p>
								<span class="num">x1</span>
								<span class="price1">₦100K</span>
								<span class="price2">₦35.05K</span>
							</a>
						</li>
						<li class="clearfix">
							<a href="###">
								<div class="pic_img">
									<img src="img/yd_shop1.jpg"/>
								</div>
								<p class="ov_text">10”-30” Virgin Brazilioan 10”-30” VirginVirginVirginVirginVirgin...</p>
								<p class="type">Natural black; 12inch <i><br /></i> 4*13 frontal cap;</p>
								<span class="num">x1</span>
								<span class="price1">₦100K</span>
								<span class="price2">₦35.05K</span>
							</a>
						</li>
					</ul>
				</div>
				
				<div class="or_address clearfix">
					<h1>Shipping Address</h1>
					<div class="text">
						<p>xiaoyanjing</p>
						<p>A lane in huangbian vllage district guangzhou guangdong province</p>
						<p>510000  China</p>
						<p>+8615601634559</p>
					</div>
				</div>
				
				<div class="total clearfix">
					<div class="right clearfix">
						<p class="total_p active clearfix">
							<i class="text_i">Coupon: <i>- ₦5K</i></i>
							<span>Total</span>
							<i class="img_i"></i>
							<em>₦216K</em>
							<i class="down_img"></i>
						</p>
						<hr />
						<div class="slide_p clearfix">
							<p>Total Products <span>₦216K</span></p>
							<p>Total Points <span>-₦0K</span></p>
							<p>Total Shipping <span>₦0K</span></p>
							<p><i class="xl_i">Coupon:Summer Sale</i> <span>-₦5K</span></p>
						</div>

						
					</div>
					<a class="btn_a hong" href="###">CONTINUE TO PAY</a>
				</div>
			</div>
			
		</div>
		
		<!--yd底部-->
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		<!--悬浮vip-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--contact弹窗-->
		<div class="con_modal clearfix">
			<div class="text">
				<h1>CONTACT US</h1>
				<ol class="con_ol">
					<li>
						<a class="con_email" href="javascript:;">
							<img class="con_img" src="img/png/icon_86.png"/>
							<p class="con_p">E-mail</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_87.png"/>
							<p class="con_p">WhatsApp</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_88.png"/>
							<p class="con_p">Instagram</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_89.png"/>
							<p class="con_p">Facebook</p>
						</a>
					</li>
				</ol>
			</div>
			
			<div class="context">
				<div class="close"></div>
				<h1>contact us</h1>
				<p>Thank you for your message, we will contact you within 24 hours.</p>
				<form action="">
					<input type="text" placeholder="XIAOXIAO" />
					<input type="text" placeholder="Your Email" />
					<input type="text" placeholder="Your Phone" />
					<textarea placeholder="Message"></textarea>
					<button type="submit">Send Message</button>
				</form>
			</div>
		</div>
		
		<!--客户评价弹窗-->
		<div class="khpj_midal clearfix">
			<div class="text clearfix">
				<div class="close"></div>
				<div class="left clearfix">
					<div class="swiper-container pl_lb">
						
					    <div class="swiper-wrapper">
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					    </div>
					    <!-- Add Pagination -->
					    <div class="swiper-pagination"></div>
					    <!-- Add Arrows -->
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					</div>
				</div>
				<div class="right clearfix">
					<div class="name clearfix">
						<img src="img/png/touxiang2.png"/>
						<span>A***G</span>
					</div>
					<div class="pro clearfix">
						<img src="img/pro_2.jpg" alt="" />
						<div class="text_p">
							<p>Wholesale Order N14k 2x6 Kim K Lace  Closure 12 Inch</p>
							<span>Length: 16 & 16 & 18</span>
							<a href="###">SHOP NOW</a>
						</div>
					</div>
					<div class="pinlun clearfix">
						<ol class="start_ol">
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li></li>
						</ol>
						<span>June 28,2018</span>
						<p>
							Very nice unit...hair is very soft and shiny. Not a lot of shedding lalalala
							aftercowash. I will definitely use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash. I will definitely use 
							this seller again, quick delivery and the seller , use this seller again, quick 
							delivery and the seller stays in touch.Not a lot of shedding aftercowash. 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash.Very nice unit...hair 
							is very soft and shiny. Not a lot of shedding aftercowash. I will definitely 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. I will definitely use this seller again, quick 
							delivery and the seller , use this seller again, quick delivery and the seller 
							stays in touch.Not a lot of shedding aftercowash. use this and the seller 
							stays in touch.Not a lot of shedding aftercowash. 
						</p>
						<div class="zan">
							<span>999</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal clearfix">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close5.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES </h1>
						<ul class="ls_ul clearfix">
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
	</body>
</html>
<script>
	$(function(){
		
		//下拉total_p
			$(".total_p").click(function(){
				if($(this).hasClass("active")){
					$(this).removeClass("active");
					$(this).siblings(".slide_p").stop().slideUp();
					$(this).siblings("hr").hide();
				}else{
					$(this).addClass("active");
					$(this).siblings(".slide_p").stop().slideDown();
					$(this).siblings("hr").show();
				}
				
				
			})
		
	})
	
	
	//倒计时
	function show_time() {
        $(".djs_p").each(function() {
            var endtime = $(this).prop("title");
            var time_start = new Date().getTime(); //设定当前时间
            var time_end = new Date(endtime).getTime(); //设定目标时间
            var time_distance = time_end - time_start;
            var timer;
            if (time_distance >= 0) {
                var int_day = Math.floor(time_distance / 86400000)
                time_distance -= int_day * 86400000;
                var int_hour = Math.floor(time_distance / 3600000)
                time_distance -= int_hour * 3600000;
                var int_minute = Math.floor(time_distance / 60000)
                time_distance -= int_minute * 60000;
                var int_second = Math.floor(time_distance / 1000)
                if (int_day < 10) {
                    int_day = "0" + int_day;
                }
                if (int_hour < 10) {
                    int_hour = "0" + int_hour;
                }
                if (int_minute < 10) {
                    int_minute = "0" + int_minute;
                }
                if (int_second < 10) {
                    int_second = "0" + int_second;
                }
                $(this).find(".int_day").text(int_day);
                $(this).find(".int_hour").text(int_hour);
                $(this).find(".int_minute").text(int_minute);
                $(this).find(".int_second").text(int_second);
            }else{
                clearInterval(timer);
                $(this).css("display","none");
               
            }
        })
        timer = setTimeout("show_time()", 1000);
    }
    show_time();
</script>