<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>REVIEWS</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<ul>
					<li><p><i></i>New hair store in Lagos! For more details call: 08147034057</p></li>
					<li><p><i></i>New hair store in Lagos! For more details call: xxxxxxxxxx</p></li>
				</ul>
			</div>
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--yd链接导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###"><span>Home</span> <i></i></a></li>
						<li><a href="###"><span class="hot">Hot Sales</span> <i></i></a></li>
						<li>
							<p class="nav_p active"><span>Lace Wigs</span> <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li class="active"><a href="###">Classic Bob Wig (25)</a></li>
								<li><a href="###">Virgin Frontal Wig (12)</a></li>
								<li><a href="###">Virgin Closure Wig (16)</a></li>
								<li><a href="###">Virgin 360 Lace Wig (14)</a></li>
								<li><a href="###">U-part wig (8)</a></li>
								<li><a href="###">Color Lace Wig (15)</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Bundles With Frontalv</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>Hair Care</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Lagos Store</span> <i></i></a></li>
						<li>
							<p class="nav_p"><span>More</span><i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">About Us</a></li>
								<li><a href="###">Real-time Feedback on social</a></li>
							</ol>	
						</li>
						<li><a href="###"><span>Wish List</span> <i></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="in_content clearfix"></div>
		<!--内容-->
		<div class="reviews clearfix">
			<div class="pl_text clearfix">
				<div class="top clearfix">
					<a class="fh" href="###">&lt; BACK</a>
					<ol class="start_ol">
						<li class="active"></li>
						<li class="active"></li>
						<li class="active"></li>
						<li class="active"></li>
						<li></li>
					</ol>
					<p>119 Reviews</p>
				</div>
				<ul class="pl_ul clearfix">
					<li>
						<div class="left clearfix">
							<img src="img/png/touxiang2.png" alt="" />
							<span>A***G</span>
							<ol class="start_ol">
								<li class="active"></li>
								<li class="active"></li>
								<li class="active"></li>
								<li class="active"></li>
								<li></li>
							</ol>
						</div>
						<div class="right clearfix">
							<span class="span1">Length: 16 & 16 & 18</span>
							<span class="span2">June 28,2018</span>
							<p class="p1 clearfix">
								Very nice unit...hair is very soft and shiny. Not a lot of shedding aftercowash. 
								I will definitely use this seller again, quick delivery and the seller stays in touch.
								Not a lot of shedding aftercowash. I will definitely use this seller again, quick 
								delivery and the seller 
							</p>
							<ul class="img_ul clearfix">
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
							</ul>
							
							<div class="pl_lunbo clearfix">
								  <!-- Swiper -->
								  <div class="swiper-container">
								    <div class="swiper-wrapper">
								      <div class="swiper-slide"><img src="img/pro_det5.jpg"/></div>
								      <div class="swiper-slide"><img src="img/png/bf.png"/></div>
								      <div class="swiper-slide"><img src="img/banner1.jpg"/></div>
								      <div class="swiper-slide"><img src="img/pro_det5.jpg"/></div>
								      <div class="swiper-slide"><img src="img/pro_det5.jpg"/></div>
								    </div>
								    <!-- Add Pagination -->
   									<div class="swiper-pagination"></div>
								    <!-- Add Arrows -->
								    <div class="swiper-button-next"></div>
								    <div class="swiper-button-prev"></div>
								  </div>
								  <div class="close"></div>
								  <div class="fy_zsq"><i class="fy_i1">2</i>/<i class="fy_i2">5</i></div>
							</div>
							
							<div class="zan">
								<span>10</span>
							</div>
							
						</div>
					</li>
					
					<li>
						<div class="left clearfix">
							<img src="img/png/touxiang2.png" alt="" />
							<span>A***G</span>
							<ol class="start_ol">
								<li class="active"></li>
								<li class="active"></li>
								<li class="active"></li>
								<li class="active"></li>
								<li></li>
							</ol>
						</div>
						<div class="right clearfix">
							<span class="span1">Length: 16 & 16 & 18</span>
							<span class="span2">June 28,2018</span>
							<p class="p1 clearfix">
								Very nice unit...hair is very soft and shiny. Not a lot of shedding aftercowash. 
								I will definitely use this seller again, quick delivery and the seller stays in touch.
								Not a lot of shedding aftercowash. I will definitely use this seller again, quick 
								delivery and the seller 
							</p>
							<ul class="img_ul clearfix">
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
								<li><img src="img/pinglun.jpg"/></li>
							</ul>
							
							<div class="pl_lunbo clearfix">
								  <!-- Swiper -->
								  <div class="swiper-container">
								    <div class="swiper-wrapper">
								      <div class="swiper-slide"><img src="img/pro_det5.jpg"/></div>
								      <div class="swiper-slide"><img src="img/png/bf.png"/></div>
								      <div class="swiper-slide"><img src="img/pro_det5.jpg"/></div>
								      <div class="swiper-slide"><img src="img/pro_det5.jpg"/></div>
								    </div>
								    <!-- Add Pagination -->
   									<div class="swiper-pagination"></div>
								    <!-- Add Arrows -->
								    <div class="swiper-button-next"></div>
								    <div class="swiper-button-prev"></div>
								  </div>
								  <div class="close"></div>
								  <div class="fy_zsq"><i class="fy_i1">2</i>/<i class="fy_i2">5</i></div>
							</div>
							
							<div class="zan">
								<span>10</span>
							</div>
							
						</div>
					</li>
				</ul>
				
			</div>
		</div>
		
		<!--yd底部-->
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		<!--悬浮vip-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--contact弹窗-->
		<div class="con_modal clearfix">
			<div class="text">
				<h1>CONTACT US</h1>
				<ol class="con_ol">
					<li>
						<a class="con_email" href="javascript:;">
							<img class="con_img" src="img/png/icon_86.png"/>
							<p class="con_p">E-mail</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_87.png"/>
							<p class="con_p">WhatsApp</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_88.png"/>
							<p class="con_p">Instagram</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_89.png"/>
							<p class="con_p">Facebook</p>
						</a>
					</li>
				</ol>
			</div>
			
			<div class="context">
				<div class="close"></div>
				<h1>contact us</h1>
				<p>Thank you for your message, we will contact you within 24 hours.</p>
				<form action="">
					<input type="text" placeholder="XIAOXIAO" />
					<input type="text" placeholder="Your Email" />
					<input type="text" placeholder="Your Phone" />
					<textarea placeholder="Message"></textarea>
					<button type="submit">Send Message</button>
				</form>
			</div>
		</div>
		
		<!--客户评价弹窗-->
		<div class="khpj_midal clearfix">
			<div class="text clearfix">
				<div class="close"></div>
				<div class="left clearfix">
					<div class="swiper-container pl_lb">
						
					    <div class="swiper-wrapper">
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					    </div>
					    <!-- Add Pagination -->
					    <div class="swiper-pagination"></div>
					    <!-- Add Arrows -->
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					</div>
				</div>
				<div class="right clearfix">
					<div class="name clearfix">
						<img src="img/png/touxiang2.png"/>
						<span>A***G</span>
					</div>
					<div class="pro clearfix">
						<img src="img/pro_2.jpg" alt="" />
						<div class="text_p">
							<p>Wholesale Order N14k 2x6 Kim K Lace  Closure 12 Inch</p>
							<span>Length: 16 & 16 & 18</span>
							<a href="###">SHOP NOW</a>
						</div>
					</div>
					<div class="pinlun clearfix">
						<ol class="start_ol">
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li></li>
						</ol>
						<span>June 28,2018</span>
						<p>
							Very nice unit...hair is very soft and shiny. Not a lot of shedding lalalala
							aftercowash. I will definitely use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash. I will definitely use 
							this seller again, quick delivery and the seller , use this seller again, quick 
							delivery and the seller stays in touch.Not a lot of shedding aftercowash. 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash.Very nice unit...hair 
							is very soft and shiny. Not a lot of shedding aftercowash. I will definitely 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. I will definitely use this seller again, quick 
							delivery and the seller , use this seller again, quick delivery and the seller 
							stays in touch.Not a lot of shedding aftercowash. use this and the seller 
							stays in touch.Not a lot of shedding aftercowash. 
						</p>
						<div class="zan">
							<span>999</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal clearfix">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close5.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES </h1>
						<ul class="ls_ul clearfix">
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
	</body>
</html>
<script type="text/javascript">
	$(function(){
		//zan
		$(".zan").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
			}else{
				$(this).addClass("active");
			}
		})
		//lunbo
		$(".reviews .pl_ul .img_ul>li").click(function(){
			$(this).parent().siblings(".pl_lunbo").show();
			var this_index = $(this).index();
			if(this_index==0){
				$(this).addClass("active");
			}
			var this_ul = $(this).parent();
			var this_len = this_ul.find("li").length;
			$(".fy_zsq .fy_i1").text(this_index+1);
			$(".fy_zsq .fy_i2").text(this_len);
			var mySwiper = new Swiper('.swiper-container', {
				freeMode : false,
				observer: true,
				observeParents: true,
				autoHeight: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
			    },
		        navigation: {
		        	nextEl: '.swiper-button-next',
		        	prevEl: '.swiper-button-prev',
		      	},
		      	on: {
				    slideChangeTransitionStart: function(){
				    	this_ul.find("li").removeClass("active");
			    		this_ul.find("li").eq(this.activeIndex).addClass("active");
			    		$(".fy_zsq .fy_i1").text(this.activeIndex+1);
				    },
				},
		    });
		    $(this).parent().siblings(".pl_lunbo").find(".swiper-pagination-clickable span").eq($(this).index()).trigger('click');
		})
		//lunbo colse
		$(".pl_lunbo  .close").click(function(){
			$(this).parents("li").find(".img_ul>li").removeClass("active");
			$(this).parents(".pl_lunbo ").hide();
		})
	})
</script>
