@charset "utf-8";/* CSS Document*/
*{margin: 0;padding: 0;outline: none;}
*:not(input,textarea){-webkit-touch-callout: none;-webkit-user-select: none;}
body{background:#fff;width: 100%;margin: 0 auto;font:normal 12px 'open','Arial','Microsoft YaHei', '微软雅黑';color: #333;-webkit-touch-callout: inherit ;
-webkit-tap-highlight-color:transparent;-webkit-user-select: auto ;min-width: 320px;}
a{color: #595757;text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*transition:all 0.3s;*/}
a:hover{text-decoration: none;transition:all 0.3s;}
button,input,select,textarea{font-size: 100%;margin: 0;padding: 0;outline: none;font:normal 12px 'Arial','Microsoft YaHei', '微软雅黑';}
@media only screen and (min-width: 1px) and (max-width: 750px) {
	body,button,input,select,textarea,span,a,p,em,i{font:normal 12px 'open', 'helvetica','Microsoft YaHei', '微软雅黑';}
}
a,button{cursor: pointer;}
input[type="submit"],input[type="reset"],input[type="button"],button{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
input{border:none;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-appearance: none !important;border-radius: 0;}
input::-webkit-input-placeholder{/* WebKit browsers*/color:#999;}
input:-moz-placeholder{/* Mozilla Firefox 4 to 18*/color:#999;}
input::-moz-placeholder{/* Mozilla Firefox 19+*/color:#999;}
input:-ms-input-placeholder{/* Internet Explorer 10+*/color:#999;}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
:focus{outline:0;-webkit-tap-highlight-color:transparent}
table{width:100%;border-collapse:collapse;border-spacing:1;border-spacing:0;}
textarea,input{resize: none;outline: none;box-sizing: border-box;}
textarea{resize: none;-webkit-appearance: none;}
ul,ol,li{list-style: none;}
i,em{font-style: normal;}
div,ul,ol,li{box-sizing: border-box;}

.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;}
img{max-width: 100%;height: auto;border:none;}
.container{position: relative;min-width: 320px;max-width:750px;margin: 0 auto;}
header{position:fixed;top:0;left:0;width:100%;background: #fff;z-index:10;height: 45px;border-bottom: 1px solid #e3e3e3;}
.white-bg{background: #fff;}
.fl{float: left !important;}
.fr{float: right !important;}
.no-pl{padding-left: 0;}
.no-pr{padding-right: 0;}
.no-pt{padding-left: 0;}
.no-pb{padding-right: 0;}
.no-ml{margin-left: 0;}
.no-mr{margin-right: 0;}
.no-mt{margin-top: 0;}
.no-mb{margin-bottom: 0;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
.font-red{color:#e00000;}
.font-gray{color:#999;}
.font-green{color:#20cbbb;}
.no-border{border:none !important;}
.no-br{border-right: none !important;}
.no-bl{border-left: none !important;}
.border-l{border-left: 1px solid #d8d8d8;}
.border-b{border-bottom: 1px solid #ececec;}
.ver-mid{display: inline-block;vertical-align: middle;}
.red_i{color: #fd4f57;}
.modal{width: 100%;height: 100%;position: fixed;left: 0;top: 0; z-index: 999;background: rgba(0,0,0,.6);}
.zzc_div{width: 100%;height: 100%;position: fixed;z-index:11;left: 0;top: 0;background: rgba(0,0,0,.0);display: none;}
.bg_fff{background: #fff;}
.bg_gif{background:#fff url(../img/loading.gif) no-repeat center top;min-height: 300px;}
@media only screen and (min-width: 1px) and (max-width: 768px) {
	.bg_gif{background:#fff url(../img/loading.gif) no-repeat center top;min-height: 2.4rem;}
	
}

.btn240{width:240px;height:40px;text-align: center;line-height: 40px;background: #333;font-size: 16px;color: #fff;display: block;border-radius: 4px;font-weight: normal;}
.btn240:hover{background: #666;}
@media only screen and (min-width: 1px) and (max-width: 992px) {
	.btn240{width:6.28rem;height:0.8rem;text-align: center;line-height: 0.8rem;background: #333;font-size: 0.24rem;color: #fff;
	display: block;border-radius: 4px;font-weight: normal;margin: auto;}
}

.hs{color: #ff2054;}

.ts_ps{display: block;color: #ff2054 !important;font-size: 14px !important;margin: 10px 0 0 0;}
.ts_ps.off{display: none;}
.text-danger{color: red;}

	.pc_no{display: none;}
	.yd_no{display: block;}
@media only screen and (min-width: 1px) and (max-width: 920px) {
	.pc_no{display: block;}
	.yd_no{display:  none;}
	
}

/*字体*/
@font-face {
	font-family:bmt;
	src: url(../font/bmt.ttf);
}
@font-face {
	font-family:open;
	src: url(../font/opensans.ttf);
}
@font-face {
	font-family:open_b;
	src: url(../font/opensans_b.ttf);
}
.content{max-width: 1640px;margin: auto;}
.ov_text{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 100%;}
@media only screen and (min-width: 1px) and (max-width: 920px) {
	.yd_hide{display: none !important;}
	.yd__show{display: block !important;}
}
@media only screen and (min-width: 921px){
	.pc_hide{display: none !important;}
	.pc_show{display: block !important;}
}

a.step{background: #333;color: #fff;border-radius: 5px;margin-top: 20px;display: inline-block;padding: 5px;}
.share_l{max-width: 400px !important;}

/**头部**/
.big_nav{position: fixed;top: 0;left: 0;z-index: 99;background: #fff;width: 100%;}
.gg_nav{height: 0.5rem;background: #fff;text-align: center;overflow: hidden;position: relative;}
.gg_nav ul{position:absolute; left: 0; top: 0px;width: 100%;}
.gg_nav ul li{line-height: 0.5rem;}
.gg_nav p{display: inline-block;line-height: 0.5rem;font-weight: bold;font-size: 14px;}
.gg_nav p>i{width: 20px;height: 22px;display: block;background: url(../img/png/icon_13.png) no-repeat;margin: 10px 10px 18px 0;float: left;background-size: 100%;}

.nav{text-align: center;background: #101010;}
.nav .top{height: 65px;}
.nav .top .content{max-width: 1400px;}
.nav .top .img_ol{margin: 20px 0 !important;}
.nav .logo{display: inline-block;margin: auto;}
.nav .logo>img{display: block;margin:10px auto 9px auto;}
.nav .top p.money{display: inline-block;float: left;line-height: 65px;color: #666;font-size: 14px;}
.nav .top p.money>a{color: #666;}
.nav .top p.money>em{color: #fff;}
.nav .top p.money>a.active{color: #fff;}
.nav .bot{height: 40px;line-height: 40px;background:#181818;}
.nav .bot .content{max-width: 1400px;}
.nav .bot .search{display: inline-block;float: left;color: #999;font-size: 0.82vw;line-height: 24px;height: 24px;margin: 8px 0;cursor: pointer;}
.nav .bot .search i{width: 24px;height: 24px;background: url(../img/png/icon_1.png) no-repeat;
display: inline-block;float: left;margin-right: 9px;}
.nav .nav_ul{display: inline-block;}
.nav .nav_ul>li{display: inline-block;padding: 0 1.6vw;font-size: 0.93vw;position: relative;}
.nav .nav_ul>li .hot{display: inline-block;position: absolute;top: -5px;right: 10px;}
.nav .nav_ul>li .hot img{width: 25px;}
.nav .nav_ul>li.active>a,
.nav .nav_ul>li:hover>a
{border-bottom: 1px solid #fff;box-sizing: border-box;}
.nav .nav_ul>li>a{color: #fff;border-bottom: 1px solid transparent;box-sizing: border-box;}
.nav .nav_ul>li .nav_ol{display: none;background: rgba(34,34,34,.9);position: relative;left: -0px;padding: 1.04vw 0;float: left;}
.nav .nav_ul>li .nav_ol>li{text-align: left;display: inline-block;clear: both;float: left;width: 100%;}
.nav .nav_ul>li .nav_ol>li>a{color: #fff;display: block;margin:12px 1.82vw;line-height: 1.04vw;
box-sizing: border-box;border-bottom: 1px solid transparent;}
.nav .nav_ul>li .nav_ol>li.active>a,
.nav .nav_ul>li .nav_ol>li:hover>a
{border-bottom: 1px solid #fff;box-sizing: border-box;}
.nav .img_ol{float: right;margin: 8px 0;}
.nav .img_ol>li{display: inline-block;float: left;height: 24px;position: relative;}
.nav .img_ol>li>a{display: block;width: 24px;height: 24px;padding: 0 10px;}
.nav .img_ol>li.fb_li>a{width: 10px;}
.nav .img_ol>li.tb_li>a{width: 20px;}
.nav .img_ol>li.dl_li>a{background: url(../img/png/icon_2.png) no-repeat center;}
.nav .img_ol>li.sc_li>a{background: url(../img/png/icon_3.png) no-repeat center;}
.nav .img_ol>li.gw_li>a{background: url(../img/png/icon_4.png) no-repeat center;}
.nav .img_ol>li.fb_li>a{background: url(../img/png/icon_5.png) no-repeat center;}
.nav .img_ol>li.tb_li>a{background: url(../img/png/icon_6.png) no-repeat center;}
.nav .img_ol>li.sc_li span,.nav .img_ol>li.gw_li span{position: absolute;top: -0.1rem;right: -0.05rem;display: inline-block;
background: #ff0000;border-radius: 50%;width: 0.2rem;height: 0.2rem;text-align: center;line-height: 0.2rem;font-size: 0.14rem;color: #fff;}

.yd_nav_modal{width: 83%;height: 100%;background: #1f1f1f;position: fixed;top: 0;right: 100%;z-index: 98;padding-top: 1.1rem;overflow-y: auto;}
.yd_nav_modal .top_nav{margin-bottom: 0.8rem;padding: 0 0.4rem;}
.yd_nav_modal .top_nav ul>li{width: 100%;position: relative;border-bottom: 1px solid #666;}
.yd_nav_modal .top_nav ul>li>a{line-height: 0.98rem;color: #fff;font-size: 0.24rem;display: block;}
.yd_nav_modal .top_nav ul>li>a>i{display: block;width: 0.12rem;height: 0.2rem;position: absolute;right: 0; top: 50%;margin-top: -0.1rem;
background: url(../img/png/icon_11.png) no-repeat;background-size: 100%;}
.yd_nav_modal .top_nav ul>li .nav_p>a{line-height: 0.98rem;color: #fff;font-size: 0.24rem;display: block;}
.yd_nav_modal .top_nav ul>li .nav_p>a>i{display: block;width: 0.12rem;height: 0.2rem;position: absolute;right: 0; top: 50%;margin-top: -0.1rem;
background: url(../img/png/icon_11.png) no-repeat;background-size: 100%;}
.yd_nav_modal .top_nav ul>li>p.nav_p{line-height: 0.98rem;color: #fff;font-size: 0.24rem;display: block;border-bottom: 1px solid #666;position: relative;}
.yd_nav_modal .top_nav ul>li>p.nav_p.li_p2{display: none;}
.yd_nav_modal .top_nav ul>li>p.nav_p>i{display: block;width: 0.24rem;height: 0.24rem;position: absolute;right: 0; top: 50%;margin-top: -0.12rem;transition: .5s;
background: url(../img/png/icon_23.png) no-repeat;background-size: 100%;}
.yd_nav_modal .top_nav ul>li>p.nav_p.active>i{background: url(../img/png/icon_23_.png) no-repeat;background-size: 100%;transform: rotate(180deg);}
.yd_nav_modal .top_nav .yd_nav_ol{padding: 0.2rem 0;display: none;}
.yd_nav_modal .top_nav .yd_nav_ol>li{line-height: 0.6rem;}
.yd_nav_modal .top_nav .yd_nav_ol>li>a{color: #fff;font-size: 0.2rem;display: block;line-height: 0.6rem;}
.yd_nav_modal .top_nav .yd_nav_ol>li>a>span{color: #ff2054;font-size: 0.16rem;}

/**弹窗提示**/
.popup_tips{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: transparent;z-index: 999;}
.popup_tips .text{min-width: 2.2rem;max-width: 4rem; min-height: 1rem;display: inline-block;background: rgba(0,0,0,.8);text-align: center;
position: absolute;top: 40%;left: 50%;margin-left: -1.1rem; border-radius: 5px;padding: 0.2rem 0;}
.popup_tips .text .top{height: 0.6rem;position: relative;}
.popup_tips .text .top.mr span{width: 0.12rem;height: 2px;background: #ff0000;display: block;
position: absolute;top: 50%;left: 50%;margin-top: -1px;margin-left: -0.06rem;transform: rotate(225deg);}
.popup_tips .text .top.mr span:before{content: "";display: block;height: 0.2rem;width: 2px;background: #ff0000;}
.popup_tips .text .top.gantan span{width: 0.32rem;height: 0.32rem;display: block;background: url(../img/png/gantan.png) no-repeat center/0.32rem;
position: absolute;top: 50%;left: 50%;margin-top: -0.16rem;margin-left: -0.16rem;}
.popup_tips .text p{font-size: 0.2rem;color: #fff;padding: 0 0.2rem ;box-sizing: border-box;}

	
@media only screen and (min-width: 921px) {
	/***搜索弹窗***/
	.ss_modal{width: 100%;height: 100%;display: block;position: fixed;top: 0;left: 0;z-index: 100;background: rgba(0,0,0,0.5);display: none;}
	.ss_modal .bg_f{background: #fff;display: block;margin: auto;max-width: 1000px;margin-top: 105px;position: relative;top: 100%;}
	.ss_modal .bg_f .close{position: absolute;right: 20px;top: 20px;transition: .5s;cursor: pointer;}
	.ss_modal .bg_f .close:hover{transform: rotate(180deg);}
	.ss_modal .text{background: #fff;width: 800px;display: block;margin: auto;padding-top: 42px;padding-bottom: 100px;}
	.ss_modal .text label{width: 100%;display: block;line-height: 64px;border-bottom: 1px solid #000;position: relative;}
	.ss_modal .text label .ss_img{display: block;float: left;margin: 20px 20px 20px 0;width: 24px;height: 24px;background: url(../img/png/icon_25.png);position: relative;}
	.ss_modal .text label .ss_img input{width: 100%;height: 100%;cursor: pointer;position: absolute;top: 0;left: 0;opacity: 0;}
	.ss_modal .text label .in_text{line-height: 64px;font-size: 24px;color: #333;width: 60%;display: block;float: left;font-size: 24px;}
	.ss_modal .text label img.in_close{position: absolute;width: 19px;height: 19px;right: 0;top: 23px;cursor: pointer;}
	.ss_modal .con h1{font-size: 16px;color: #333;font-weight: normal;margin: 50px 0 40px 0;}
	.ss_modal .con h1 i.del{display: block;width: 0.24rem;height: 0.24rem;float: right;cursor: pointer;}
	.ss_modal .con h1 i.del svg{width: 0.24rem;height: 0.24rem;}
	.ss_modal .con ul li{display: inline-block;float: left;margin:0 55px 20px 0;}
	.ss_modal .con ul li a{display: inline-block;float: left;font-size: 16px;line-height: 40px;padding: 0 36px;border-radius: 50px;background: #eee;cursor: pointer;}
	.ss_modal .con ol li{display: inline-block;float: left;margin:0 40px 20px 0;}
	.ss_modal .con ol li a{font-size: 16px;font-weight: bold;line-height: 40px;padding: 0 36px;display: inline-block;}
	.ss_modal .con ol li a:hover,
	.ss_modal .con ol li.active a{border-radius: 50px;background: #eee;}
	@media only screen and (min-width: 921px) and (max-width: 1200px) {
		.ss_modal .bg_f{width: 840px;}
		.ss_modal .text{width: 700px;}
		.ss_modal .con ul li{margin:0 35px 20px 0;}
		.ss_modal .con ul li a{padding: 0 30px;}
		.ss_modal .con ol li{margin:0 30px 20px 0;}
		.ss_modal .con ol li a{padding: 0 30px;}
	}
	/***cantact弹窗***/
	.con_modal{display: none;}
	
}
@media only screen and (max-width: 920px) {
	
	/***搜索弹窗***/
	.ss_modal{width: 100%;height: 100%;display: block;position: fixed;top: 0;left: 0;z-index: 100;background: rgba(0,0,0,0.5);display: none;}
	.ss_modal .bg_f{width: 100%;height: 100%;margin: 0;background: #fff;padding: 0.65rem 0.4rem 0 0.4rem;position: relative;}
	.ss_modal .bg_f .close{position: absolute;right: 50%;bottom: 0.4rem;width: 0.64rem;height: 0.64rem;padding: 0.2rem;margin-right: -0.28rem;}
	.ss_modal .text{width: 100%;height: 100%;}
	.ss_modal label{width: 6rem;height: 0.6rem;border: 1px solid #000;box-sizing: border-box;display: block;position: relative;}
	.ss_modal label .in_text{height: 0.58rem;line-height: 0.58rem;width: 4.5rem;font-size: 0.2rem;color: #999;display: block;float: left;background: transparent;}
	.ss_modal .text label .ss_img{width: 0.24rem;height: 0.24rem;margin: 0.18rem 0.2rem 0 0.2rem;display: block;float: left;position: relative;
	background: url(../img/png/icon_25.png);background-size: 0.24rem 0.24rem;}
	.ss_modal .text label .ss_img input{width: 100%;height: 100%;cursor: pointer;position: absolute;top: 0;left: 0;opacity: 0;}
	.ss_modal .text label img.in_close{position: absolute;width: 0.28rem;height: 0.28rem;right: 0.2rem;top: 0.16rem;}
	.ss_modal .con h1{font-size: 0.24rem;color: #333;font-weight: bold;margin: 0.6rem 0 0.4rem 0;}
	
	.ss_modal .con ul{margin-top: 0.8rem;max-height: 2.1rem;overflow: hidden; }
	.ss_modal .con ul li{display: inline-block;float: left;margin:0 0.6rem 0.2rem 0;}
	.ss_modal .con ul li a{display: inline-block;float: left;font-size: 0.24rem;line-height: 0.5rem;padding: 0 0.22rem;border-radius: 50px;background: #eee;cursor: pointer;}
	.ss_modal .con ul li i{width: 0.28rem;height: 0.28rem;display: block;float: left;background: url(../img/png/icon_24.png) no-repeat;background-size: 100%; margin: 0.11rem 0 0 0.09rem;}
	.ss_modal .con ol li{display: inline-block;float: left;margin:0 0.8rem 0.2rem 0;}
	.ss_modal .con ol li a{font-size: 0.24rem;font-weight: bold;line-height: 0.5rem;}
	
	/***cantact弹窗***/
	.con_modal{width: 100%;height: 100%;display: block;position: fixed;top: 0;left: 0;z-index: 100;background: rgba(0,0,0,0.5);display: none;}
	.con_modal .text{position: absolute;bottom: 0;left: 0;width: 100%;z-index: 1;}
	.con_modal .text h1{font-size: 0.3rem;text-align: center;font-weight: normal;background: #f5f5f5;height: 1.2rem;display: block;line-height: 1.2rem;}
	.con_modal .text .con_ol>li{display: block;float: left;width: 50%;}
	.con_modal .text .con_ol>li:nth-child(1){background: #ff8a17;}
	.con_modal .text .con_ol>li:nth-child(2){background: #42a84d;}
	.con_modal .text .con_ol>li:nth-child(3){background: #dd437d;}
	.con_modal .text .con_ol>li:nth-child(4){background: #37579b;}
	.con_modal .text .con_ol>li .con_img{display: block;margin: 0.7rem auto 0.2rem auto;width: 0.5rem;height: 0.5rem;}
	.con_modal .text .con_ol>li .con_p{font-size: 0.3rem;color: #fff;display: block;text-align: center;margin-bottom: 0.7rem;}
	.con_modal .context{position: absolute;z-index: 2;background: #fff;width: 100%;height: 100%;display: none;overflow-y: auto;}
	.con_modal .context .close{width: 0.64rem;height: 0.64rem;display: block;position: absolute;top: 0.13rem;right: 0.2rem;
	background: url(../img/png/close5.png) no-repeat center center;background-size: 0.24rem 0.24rem;}
	.con_modal .context h1{font-size: 0.3rem;display: block;text-align: center;line-height: 0.3rem;margin: 0.88rem 0 0.3rem 0;}
	.con_modal .context p{font-size: 0.22rem;line-height: 0.26rem;margin-bottom: 0.5rem;text-align: center;padding: 0 0.2rem;}
	.con_modal .context input{width: 6rem;height: 0.7rem;line-height: 0.7rem;padding: 0 0.2rem; display: block;
	margin:0 auto 0.3rem auto;border: 1px solid #ccc;color: #333;font-size: 0.22rem;}
	.con_modal .context input:hover{border: 1px solid #000;}
	.con_modal .context textarea{width: 6rem;height: 3.6rem;line-height: 0.26rem;padding: 0.2rem; display: block;
	margin:0 auto 0.5rem auto;border: 1px solid #ccc;color: #333;font-size: 0.22rem;}
	.con_modal .context button{font-size: 0.28rem;color: #333;display: block;background: #dab25e;border: none;height: 0.7rem;margin: 0 auto 0.8rem auto;width: 6rem;}
}



/**yd头部**/
.yd_nav{background: url(../img/nav_bg.jpg) no-repeat;background-size: cover; height: 1.1rem;display: none;}
.yd_nav .yd_navul>li{display: inline-block;float: left;height: 1.1rem;border-right: 2px solid rgba(255,255,255,.2);}
.yd_nav .yd_navul>li.kg_li{background: url(../img/png/icon_19.png) no-repeat center center;width: 17%;transition: .5s;background-size: 0.24rem 0.22rem;}
.yd_nav .yd_navul>li.kg_li.active{background: url(../img/png/icon_19_.png) no-repeat center center;background-size: 0.24rem 0.22rem;}
.yd_nav .yd_navul>li.logo_li{background: url(../img/png/logo.png) no-repeat center center;width: 24%;background-size: 70%;}
.yd_nav .yd_navul>li.logo_li a{width: 100%;height: 100%;display: block;}
.yd_nav .yd_navul>li.ss_li{background: url(../img/png/icon_1.png) no-repeat center center;width: 17%;background-size: 0.24rem;}
.yd_nav .yd_navul>li.mn_li{width: 25%;text-align: center;line-height:1.1rem;}
.yd_nav .yd_navul>li.mn_li a{font-size: 0.18rem;color: #666;}
.yd_nav .yd_navul>li.mn_li a.active{color: #fff;font-size: 0.24rem;}
.yd_nav .yd_navul>li.mn_li a.active i{font-size: 0.24rem;color: #DAB25D;}
.yd_nav .yd_navul>li.mn_li em{color: #fff;font-size: 0.16rem;}
.yd_nav .yd_navul>li.mn_li p{display: inline-block;vertical-align:middle;}
.yd_nav .yd_navul>li.gw_li{background: url(../img/png/icon_4.png) no-repeat center center;width: 17%;border-right: 0;background-size: 0.23rem 0.24rem;position: relative;}
.yd_nav .yd_navul>li.gw_li>span{color: #fff;background: #FF2054;text-align: center;height: 0.2rem;width: 0.2rem;line-height: 0.2rem;display: block;
position: absolute;top: 0.35rem;right: 0.4rem;border-radius: 50%;}

.in_content{margin-top: 155px;}

/***pc底部***/
.footer{background: #191919;padding: 50px 0;}
.footer .top{max-width: 1200px;margin: auto;}
.footer .fot_ul1>li{display: inline-block;float: left;margin-right: 150px;}
.footer .fot_ul1>li:last-child{margin-right: 0;float: right;}
.footer .fot_ul1>li>h1{font-size: 20px;color: rgba(249,45,150,.4);font-weight: normal;margin-bottom: 20px;}
.footer .fot_ul1>li>h1 .fot_img{display: none;}
.footer .fot_ul1>li .fot_ol>li>a{color: #ccc;font-size: 18px;display: block;line-height: 24px;}
.footer .fot_ul1>li .fot_ol>li{line-height: 24px;margin-bottom: 12px;}
.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(1){background: url(../img/png/icon_15.png) no-repeat left center;}
.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(2){background: url(../img/png/icon_16.png) no-repeat left center;}
.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(3){background: url(../img/png/icon_17.png) no-repeat left center;}
.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(4){background: url(../img/png/icon_18.png) no-repeat left center;}
.footer .fot_ul1>li:first-child .fot_ol>li>a{margin-left: 30px;line-height: 24px;display: block;}


.footer .fot_ul1>li .text{max-width: 360px;}
.footer .fot_ul1>li .text label{display: block;position: relative;}
.footer .fot_ul1>li .text label i{width: 0.23rem;height: 0.16rem;display: block;position: absolute;top: 0.17rem;right: 0.2rem;
background: url(../img/png/icon_9.png) no-repeat center/0.23rem 0.16rem;}
.footer .fot_ul1>li .text input{line-height: 0.5rem;padding: 0 10px;border: 1px solid #777;font-size: 0.2rem;color: #777;
background: transparent;margin-bottom: 0.2rem;}
.footer .fot_ul1>li .text p{font-size: 14px;color: #ccc;}
.footer .fot_ul1>li .text button{width: 160px;height: 40px;color: #fff;border: 1px solid transparent;
background: #f92d96;margin: 17px 0 0 0;}
.footer .fot_ul1>li .text button:hover{background: #fe47a5;color: #fff;}
.footer .bot{width: 100%;height: 60px;background: #303030;margin-top: 30px;text-align: center;}
.footer .bot .fot_ul2{display: inline-block;}
.footer .bot .fot_ul2>li{display: inline-block;height: 60px;float: left;line-height: 60px;margin:0 50px;}
.footer .bot .fot_ul2>li img{display: inline-block;vertical-align:middle;}
.footer .fot_p{text-align: center;font-size: 18px;color: rgba(255,255,255,.6);margin-top: 35px;}
.yd_footer2{display: none;}


/***分页***/
.fy_div{display: block;padding-bottom: 100px;}
.fy_div ul{float: right;}
.fy_div ul>li{display: inline-block;float: left;background: #fff;margin: 0 5px;padding: 0 11px;height: 30px;font-size: 16px;line-height: 30px;}
/*.fy_div ul>li>a{}*/
.fy_div ul>li>a{display: block;}
/*.fy_div ul>li>span{padding: 0 11px;height: 30px;font-size: 16px;display: block;line-height: 30px;}*/
.fy_div ul>li.active>a,
.fy_div ul>li:hover>a{background: #333;color: #fff;}
.fy_div ul>li.active,
.fy_div ul>li:hover{background: #333;color: #fff;}


/**悬浮右边**/
.xf_right{position: fixed;right: 40px;bottom: 1.3rem;z-index: 98;}
.xf_right .vip{width: 80px;height: 80px;border-radius: 50%;background: #dab25e url(../img/png/vip.png) no-repeat top 15px center;cursor: pointer;position: relative;}
.xf_right .vip:hover{background: #222 url(../img/png/vips.png) no-repeat top 15px center;}
.xf_right .vip span{font-family: Cambria;font-size: 20px;line-height: 20px; color: #fff;width: 100%;
text-align: center; position: absolute;bottom: 10px;}
.xf_right .vip:hover span{color: #dab25e;}

@media only screen and (min-width: 920px) and (max-width: 991px) {
	.footer .top{padding: 0 40px;}	
	.footer .fot_ul1>li{margin-right: 3.5vw;}
}
@media only screen and (min-width: 992px) and (max-width: 1079px) {
	.footer .top{padding: 0 40px;}	
	.footer .fot_ul1>li{margin-right: 5.5vw;}
}
@media only screen and (min-width: 1080px) and (max-width: 1200px) {
	.footer .top{padding: 0 40px;}	
	.footer .fot_ul1>li{margin-right: 7.3vw;}
}
@media only screen and (min-width: 1201px) and (max-width: 1920px) {
	.footer .fot_ul1>li{margin-right: 150px;}
}

@media only screen and (min-width: 920px) and (max-width: 1080px) {
	.nav .nav_ul>li{padding: 0 1.2vw;}
	.nav .img_ol>li>a{padding: 0 5px;}
}

@media only screen and (min-width: 1px) and (max-width: 1720px) {
	.content{padding: 0 40px;}
}


@media only screen and (min-width: 1px) and (max-width: 920px) {
	.nav{display: none;}
	.yd_nav{display: block;}
	.gg_nav{height: 0.5rem;line-height: 0.5rem;}
	.gg_nav p{line-height: 0.5rem;font-size: 0.22rem;padding: 0 0.2rem;font-weight: normal;}
	.gg_nav p>i{width: 0.2rem;height: 0.22rem;margin: 0.1rem 0.1rem 0.18rem 0;}
	.in_content{margin-top: 1.6rem;}
	.fy_div{display: none;}
	
	.footer{padding: 0;}
	.footer .fot_ul1>li{width: 100%;display: block;margin: 0;}
	.footer .fot_ul1>li>h1{font-size: 0.24rem;height: 1rem;line-height: 1rem;border-bottom: 1px solid #444;padding: 0 0.4rem;margin: 0;position: relative;}
	.footer .fot_ul1>li>h1 .fot_img{position: absolute;right: 0.4rem;top: 50%;margin-top: -0.1rem;width: 0.12rem;height: 0.2rem; display: block;transition: .5s;}
	.footer .fot_ul1>li>h1 .fot_img.active{transform: rotate(-90deg);margin-top: -10px;}
	.footer .fot_ul1>li .fot_ol{padding: 0.2rem 0.4rem;display: none;border-bottom: 1px solid #444;}
	.footer .fot_ul1>li .fot_ol>li{font-size: 0.24rem;line-height: 0.7rem;margin: 0;}
	.footer .fot_ul1>li .fot_ol>li a{display: block;line-height: 0.7rem !important;font-size: 0.24rem;}
	.footer .fot_ul1>li:first-child .fot_ol>li>a{margin-left: 0.3rem;}
	.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(1){background: url(../img/png/icon_15.png) no-repeat left center;background-size: 0.18rem 0.24rem;}
	.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(2){background: url(../img/png/icon_16.png) no-repeat left center;background-size: 0.22rem 0.22rem;}
	.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(3){background: url(../img/png/icon_17.png) no-repeat left center;background-size: 0.24rem 0.23rem;}
	.footer .fot_ul1>li:first-child .fot_ol>li:nth-child(4){background: url(../img/png/icon_18.png) no-repeat left center;background-size: 0.23rem 0.21rem;}
	.footer .fot_ul1>li .text{padding: 0.3rem 0.4rem 0.4rem 0.4rem;max-width: inherit;width: 95%;}
	.footer .fot_ul1>li .text input{padding: 0 0.5rem 0 0.1rem;}
	.footer .fot_ul1>li .text p{font-size: 0.24rem;}
	.footer .fot_ul1>li .text button{background: #fff;font-size: 0.18rem;color: #333;width: 3.2rem;height: 0.5rem;margin: 0.4rem 0 0 0 ;}
	
	.footer .bot{height: 0.6rem;margin-top: 0.3rem;}
	.footer .bot .fot_ul2>li{margin: 0 0.25rem;line-height: 0.6rem;height: 0.6rem;}
	.footer .bot .fot_ul2>li:nth-child(1) img{width: 0.93rem;}
	.footer .bot .fot_ul2>li:nth-child(2) img{width: 1.32rem;}
	.footer .bot .fot_ul2>li:nth-child(3) img{width: 0.55rem;}
	.footer .bot .fot_ul2>li:nth-child(4) img{width: 0.55rem;}
	.footer .bot .fot_ul2>li:nth-child(5) img{width: 1.36rem;}
	.footer .fot_p{font-size: 0.24rem;margin: 0.3rem 0;}
	
	.yd_footer2{position: fixed;bottom: 0;left: 0;width: 100%;height:1.1rem;background: #fff;z-index: 99;display: none; -webkit-overflow-scrolling: touch;border-top: 1px solid #ddd;}
	.yd_footer2 .ol_ydfot{border-top: 1px solid #fff;margin-top: 0.07rem;}
	.yd_footer2 .ol_ydfot li{float: left;width: 25%;text-align: center;position: relative;}
	.yd_footer2 .ol_ydfot li>a{display: block;width: 100%;height: 100%;overflow: hidden;}
	.yd_footer2 .ol_ydfot li .a_text{position: absolute;bottom: 100%;left: 0;display: none;margin-bottom: 0.08rem;}
	.yd_footer2 .ol_ydfot li .a_text a{display: block;width: 1.5rem;height: 0.9rem;color: #666;}
	.yd_footer2 .ol_ydfot li .a_text a img{display: block;margin: 0;width: 100%;height: 0.9rem;}
	
	.yd_footer2 .ol_ydfot li:last-child{border-right: none;}
	.yd_footer2 .ol_ydfot li img{display: none;margin:0.15rem auto 0.1rem auto;width: 0.4rem;height: 0.4rem;}
	.yd_footer2 .ol_ydfot li img.active{display: block;}
	.yd_footer2 .ol_ydfot li p{font-size: 0.2rem;color: #666;line-height: 0.2rem;}
	.yd_footer2 .ol_ydfot li.active p{color: #dab25e;}
	.yd_footer2 .ol_ydfot li.active img{display: block;}
	.yd_footer2 .ol_ydfot li.active img.active{display: none;}
	
	/**悬浮右边**/
	.xf_right{right: 0.2rem;}
	@media only screen and (min-width: 1px) and (max-width: 375px) {
		.xf_right .vip{width: 40px;height: 40px;background: #222 url(../img/png/vips.png) no-repeat top 7px center;background-size: 18px 14px;position: relative;}
		.xf_right .vip:hover{background: #222 url(../img/png/vips.png) no-repeat top 7px center;background-size: 18px 14px;}
		.xf_right .vip span{font-size: 14px;bottom: 3px;line-height: 18px;color: #dab25e;}
	}
}






