<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>ADDRESS</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav yd_hide">
			<div class="gg_nav">
				<p><i></i>BACK TO SCHOOL SALE is rocking, used code "BACKTOSCHOOL" <span class="hs">save 50% off！</span></p>
			</div>
			
			<div class="nav clearfix">
				<div class="top">
					<div class="content">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
						<a class="logo" href="###">
							<img src="img/png/logo.png"/>
						</a>
					</div>
				</div>
				<div class="bot">
					<div class="content">
						<span class="search"><i></i>All store search</span>
						
						<ul class="nav_ul">
							<li class="active"><a href="###">Home</a></li>
							<li><a href="###">Hot Sales</a></li>
							<li>
								<a href="###">Wigs</a>
								<ol class="nav_ol">
									<li><a href="###">Luxury Hand-Make Wigs</a></li>
									<li><a href="###">Basic Lace Wig</a></li>
									<li><a href="###">Lace Closure & Frontal</a></li>
								</ol>
							</li>
							<li><a href="###">Weaves Box</a></li>
							<li>
								<a href="###">Hair Care</a>
								<ol class="nav_ol">
									<li><a href="###">Accessories</a></li>
									<li><a href="###">Blog</a></li>
								</ol>
							</li>
							<li><a href="###">Lagos Store</a></li>
							<li><a href="###">About Us</a></li>
						</ul>
						
						<ol class="img_ol">
							<li class="dl_li">
								<a href="###"></a>
							</li>
							<li class="sc_li">
								<a href="###"></a>
							</li>
							<li class="gw_li">
								<a href="###"></a>
							</li>
							<li class="fb_li">
								<a href="###"></a>
							</li>
							<li class="tb_li">
								<a href="###"></a>
							</li>
						</ol>
						
					</div>
				</div>
			</div>
			
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		
		<div class="in_content yd_hide clearfix"></div>
		<!--内容-->
			<div class="top_yd pc_hide clearfix">
				<h1><a class="fh" href="###">&lt; BACK</a> </h1>
			</div>
		<div class="address_con clearfix">
			<div class="add_con clearfix">
				<ul class="bt_ul clearfix">
					<li class="active">
						<h1>Shipping Address</h1>
						<div class="form_text clearfix">
							<form>
							<!--label的class  true是输入正确的一种显示格式-->
								<label class="clearfix true" for="">
									<span class="pl_span">Frist Name</span>
									<input type="text" value="Frist Name" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								<label class="clearfix" for="">
									<span class="pl_span">Last Name</span>
									<input type="text" placeholder="Last Name" />
									<p class="ts_ps off">please enter your first name. </p>
								</label>
								<label class="clearfix" for="">
									<span class="pl_span">Address</span>
									<input type="text" placeholder="Address" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								<label class="clearfix" for="">
									<span class="pl_span"></span>
									<input type="text" placeholder="" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<label class="w_50 fl clearfix" for="">
									<span class="pl_span">Country</span>
									<select name="">
										<option value="">Country</option>
										<option value="">Country2</option>
										<option value="">Country3</option>
										<option value="">Country4</option>
									</select>
									<p class="ts_ps">please enter your first name. </p>
								</label>
								<label class="w_50 fr clearfix" for="">
									<span class="pl_span">State</span>
									<select name="">
										<option value="">State</option>
										<option value="">State2</option>
										<option value="">State3</option>
										<option value="">State4</option>
									</select>
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<label class="w_50 fl clearfix" for="">
									<span class="pl_span">City</span>
									<input type="text" placeholder="City" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<label class="w_50 fr clearfix" for="">
									<span class="pl_span">Zip Code</span>
									<input type="text" placeholder="Zip Code" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<label class="clearfix clear" for="">
									<span class="pl_span">Phone</span>
									<input type="text" placeholder="Phone" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<button class="qx_btn" type="reset">Cancel</button>
								<button class="tj_btn" type="submit">Save & Continue</button>
							</form>
						</div>
						
					</li>
					<li class="active">
						<h1>Shipping Address</h1>
						<div class="form_text clearfix">
							<ol class="add_ol clearfix">
								<li class="active clearfix">
									<div class="li_label">
										<i class="ck_i"></i>
									</div>
									<div class="text">
										<span>Xiaoxiao</span>
										<span>Baiyun district</span>	
										<span>Guangzhou 510000</span>	
										<span>Guangdong</span>	
										<span>China</span>	
										<span>+8611000000000</span>	
									</div>
									<span class="edit">Edit</span>
									<div class="det"></div>
								</li>
								<li class=" clearfix">
									<div class="li_label">
										<i class="ck_i"></i>
									</div>
									<div class="text">
										<span>Xiaoxiao</span>
										<span>Baiyun district</span>	
										<span>Guangzhou 510000</span>	
										<span>Guangdong</span>	
										<span>China</span>	
										<span>+8611000000000</span>	
									</div>
									<span class="edit">Edit</span>
									<div class="det"></div>
								</li>
								<li class=" clearfix">
									<div class="li_label">
										<i class="ck_i"></i>
									</div>
									<div class="text">
										<span>Xiaoxiao</span>
										<span>Baiyun district</span>	
										<span>Guangzhou 510000</span>	
										<span>Guangdong</span>	
										<span>China</span>	
										<span>+8611000000000</span>	
									</div>
									<span class="edit">Edit</span>
									<div class="det"></div>
								</li>
							</ol>
							<button href="###" class="qx_btn">Add new address</button>
							<button class="tj_btn" type="submit">Save & Continue</button>
						</div>
					</li>
					<li class="active">
						<h1>Shipping Address </h1>
						<span class="edit_a">Edit</span>
						<div class="form_text clearfix">
							<div class="add_text">
								<span>Xiaoxiao</span>
								<span>Baiyun district</span>	
								<span>Guangzhou 510000</span>	
								<span>Guangdong</span>	
								<span>China</span>	
								<span>+8611000000000</span>	
							</div>
						</div>
					</li>
					<li class="active">
						<h1>Your Contacts</h1>
						<div class="form_text clearfix">
							<form>
								<label class="clearfix" for="">
									<span class="pl_span">Frist Name</span>
									<input type="text" placeholder="Frist Name" />
									<p class="ts_ps off">please enter your first name. </p>
								</label>
								<label class="clearfix" for="">
									<span class="pl_span">Last Name</span>
									<input type="text" placeholder="Last Name" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<label class="clearfix clear" for="">
									<span class="pl_span">Phone</span>
									<input type="text" placeholder="Phone" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								<label class="clearfix clear" for="">
									<span class="pl_span">Email</span>
									<input type="text" placeholder="Email" />
									<p class="ts_ps">please enter your first name. </p>
								</label>
								
								<button class="qx_btn" type="reset">Cancel</button>
								<button class="tj_btn" type="submit">Save & Continue</button>
							</form>
						</div>
						
					</li>
					<li class="active">
						<h1>Your Contacts</h1>
						<div class="form_text clearfix">
							<ol class="add_ol clearfix">
								<li class="active zq_li clearfix">
									<div class="text">
										<span>Xiaoxiao</span>
										<span>+8611000000000</span>	
										<span>1230464@qq.com</span>
									</div>
									<span class="edit">Edit</span>
								</li>
							</ol>
							<div class="store_address">
								<h1>Store Address</h1>
								<span>Lagos Store</br >
									30 Mobolaji Bank Anthony Way, Maryland 000012, Lagos, Nigeria
								</span>
							</div>
							<button href="###" class="qx_btn">Add new address</button>
							<button class="tj_btn" type="submit">Save & Continue</button>
						</div>
					</li>
					<li class="active">
						<h1>Payment Method</h1>
						
						<div class="form_text">
							<ol class="pay_ol clearfix">
								<li class="active clearfix">
									<div class="pic_img pay1"></div>
									<span>PayPal</span>
									<em>$</em>
								</li>
								<li class="clearfix">
									<div class="pic_img pay2"></div>
									<span>Paystack</span>
									<em>₦</em>
								</li>
								<li class="clearfix">
									<div class="pic_img pay3"></div>
									<span>Direct Bank Transfer</span>
									<em>₦</em>
								</li>
							</ol>
						</div>
					</li>
					<li class="active pc_no">
						<div class="form_text">
							<div class="check_order  clearfix">
								<h1 class="pay_h1">Order Details</h1>
								<div class="slides clear clearfix">
									<p>KIM K CLOSURE WIG <span class="num">x1</span></p>
									<p>KIM K CLOSURE WIG <span class="num">x1</span></p>
									<p>KIM K CLOSURE WIG <span class="num">x1</span></p>
									<hr />
									<p class="p2">Total: <span>$485.17</span></p>
								</div>
								<div class="slide clear clearfix">
									<div class="total clearfix">
										<p class="p1">Total Products <span>$477.27</span></p>
										<p class="p1">Total Points <span>-$0.00</span></p>
										<p class="p1">Total Shipping <span>$9.90</span></p>
										<p class="p1">Coupon: Summer Sale <span>-$2.00</span></p>
										<p class="p2">Total <span>$485.17</span></p>
									</div>
									<ul class="check_ul clearfix">
										<li class="clearfix">
											<div class="pic_img"><img src="img/yd_shop1.jpg"/></div>
											<div class="text">
												<h2>KIM K CLOSURE WIG</h2>
												<p>Color: Black</p>
												<p>Lenght: 18inch</p>
												<p>Wig With: 13*4 Frontal cap</p>
												<p>Quantity: 1</p>
												<span>$159.09</span>
											</div>
										</li>
										<li class="clearfix">
											<div class="pic_img"><img src="img/yd_shop1.jpg"/></div>
											<div class="text">
												<h2>KIM K CLOSURE WIG</h2>
												<p>Color: Black</p>
												<p>Lenght: 18inch</p>
												<p>Wig With: 13*4 Frontal cap</p>
												<p>Quantity: 1</p>
												<span>$159.09</span>
											</div>
										</li>
										<li class="clearfix">
											<div class="pic_img"><img src="img/yd_shop1.jpg"/></div>
											<div class="text">
												<h2>KIM K CLOSURE WIG</h2>
												<p>Color: Black</p>
												<p>Lenght: 18inch</p>
												<p>Wig With: 13*4 Frontal cap</p>
												<p>Quantity: 1</p>
												<span>$159.09</span>
											</div>
										</li>
									</ul>
									
								</div>
								<div class="a_btn">
									<a href="###" class="a_qd_btn">Continue to pay</a>
								</div>
							</div>
						</div>
					</li>
				
				</ul>
				
				<!--右边悬浮内容-->	
				<div class="fixed_text yd_hide clearfix">
					<div class="check_order clearfix">
						<h1 class="slide_h1 active">Order Details <em></em></h1>
						<div class="slides active clear clearfix">
							<p>KIM K CLOSURE WIG <span class="num">x1</span></p>
							<p>KIM K CLOSURE WIG <span class="num">x1</span></p>
							<p>KIM K CLOSURE WIG <span class="num">x1</span></p>
							<hr />
							<p class="p2">Total: <span>$485.17</span></p>
						</div>
						<div class="slide clear clearfix">
							<ul class="check_ul clearfix">
								<li class="clearfix">
									<div class="pic_img"><img src="img/yd_shop1.jpg"/></div>
									<div class="text">
										<h2>KIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIGKIM K CLOSURE WIG</h2>
										<p>Color: Black</p>
										<p>Lenght: 18inch</p>
										<p>Wig With: 13*4 Frontal cap</p>
										<p>Quantity: 1</p>
										<span>$159.09</span>
									</div>
								</li>
								<li class="clearfix">
									<div class="pic_img"><img src="img/yd_shop1.jpg"/></div>
									<div class="text">
										<h2>KIM K CLOSURE WIG</h2>
										<p>Color: Black</p>
										<p>Lenght: 18inch</p>
										<p>Wig With: 13*4 Frontal cap</p>
										<p>Quantity: 1</p>
										<span>$159.09</span>
									</div>
								</li>
								<li class="clearfix">
									<div class="pic_img"><img src="img/yd_shop1.jpg"/></div>
									<div class="text">
										<h2>KIM K CLOSURE WIG</h2>
										<p>Color: Black</p>
										<p>Lenght: 18inch</p>
										<p>Wig With: 13*4 Frontal cap</p>
										<p>Quantity: 1</p>
										<span>$159.09</span>
									</div>
								</li>
							</ul>
							<div class="total clearfix">
								<p class="p1">Total Products <span>$477.27</span></p>
								<p class="p1">Total Points <span>-$0.00</span></p>
								<p class="p1">Total Shipping <span>$9.90</span></p>
								<p class="p1">Coupon: Summer Sale <span>-$2.00</span></p>
								<p class="p2">Total <span>$485.17</span></p>
							</div>
						</div>
						<!--<div class="a_btn">
							<a href="###" class="a_qd_btn">Continue to pay</a>
						</div>-->
					</div>
				
				</div>
				
			</div>
		</div>
		
		
		<!--pc底部-->
		<div class="footer pc_fot clearfix">
			<div class="top clearfix">
				<ul class="fot_ul1 clearfix">
					<li>
						<h1>COMPANY <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###"><i></i>About Us</a></li>
							<li><a href="###"><i></i>Instagram</a></li>
							<li><a href="###"><i></i>Facebook</a></li>
							<li><a href="###"><i></i>What App</a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">Return Policy</a></li>
							<li><a href="###">Shipping & Handling</a></li>
							<li><a href="###">Terms & Conditions</a></li>
							<li><a href="###">VIP Policy </a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">FAQs</a></li>
							<li><a href="###">Tutorials</a></li>
							<li><a href="###">Feedback</a></li>
						</ol>
					</li>
					<li>
						<h1>SING UP OUR NEWSLETTER! <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<div class="text fot_ol">
							<form >
								<label for="">
									<i></i>
									<input type="text" placeholder="Enter your e-mail"/>
								</label>
								<p>
									join us and get the exclusive sales, productlanunches, 
									wig tips & more directly deliveredto your inbox.
								</p>
								<button type="submit">SUBMIT</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="bot clearfix">
				<ul class="fot_ul2 clearfix">
					<li><img src="img/png/fot1.png"/></li>
					<li><img src="img/png/fot2.png"/></li>
					<li><img src="img/png/fot3.png"/></li>
					<li><img src="img/png/fot4.png"/></li>
					<li><img src="img/png/fot5.png"/></li>
				</ul>
			</div>
			
			<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--yd导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###">Home <i></i></a></li>
						<li><a href="###">Hot Sales <i></i></a></li>
						<li>
							<p class="nav_p active">Wigs <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li><a href="###">Luxury Hand-Make Wigs</a></li>
								<li><a href="###">Lace Wig <span>Stock In Lagos</span></a></li>
								<li><a href="###">Lace Closure & Frontal</a></li>
							</ol>	
						</li>
						<li><a href="###">Weaves Box <i></i></a></li>
						<li>
							<p class="nav_p">Hair Care<i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###">Lagos Store <i></i></a></li>
						<li><a href="###">About Us <i></i></a></li>
						<li><a href="###">Wish List <i></i></a></li>
					</ul>
				</div>
				
				<div class="bot_fot footer">
						<div class="top clearfix">
							<ul class="fot_ul1 clearfix">
								<li>
									<h1>COMPANY <i></i></h1>
									<ol class="fot_ol">
										<li><a href="###"><i></i>About Us</a></li>
										<li><a href="###"><i></i>Instagram</a></li>
										<li><a href="###"><i></i>Facebook</a></li>
										<li><a href="###"><i></i>What App</a></li>
									</ol>
								</li>
								<li>
									<h1>POLOCIES <i></i></h1>
									<ol class="fot_ol">
										<li><a href="###">Return Policy</a></li>
										<li><a href="###">Shipping & Handling</a></li>
										<li><a href="###">Terms & Conditions</a></li>
										<li><a href="###">VIP Policy </a></li>
									</ol>
								</li>
								<li>
									<h1>POLOCIES <i></i></h1>
									<ol class="fot_ol">
										<li><a href="###">FAQs</a></li>
										<li><a href="###">Tutorials</a></li>
										<li><a href="###">Feedback</a></li>
									</ol>
								</li>
								<li>
									<h1>SING UP OUR NEWSLETTER! <i></i></h1>
									<div class="text fot_ol">
										<form >
											<label for="">
												<i></i>
												<input type="text" placeholder="Enter your e-mail"/>
											</label>
											<p>
												join us and get the exclusive sales, productlanunches, 
												wig tips & more directly deliveredto your inbox.
											</p>
											<button type="submit">SUBMIT</button>
										</form>
									</div>
								</li>
							</ul>
						</div>
						
						<div class="bot clearfix">
							<ul class="fot_ul2 clearfix">
								<li><img src="img/png/fot1.png"/></li>
								<li><img src="img/png/fot2.png"/></li>
								<li><img src="img/png/fot3.png"/></li>
								<li><img src="img/png/fot4.png"/></li>
								<li><img src="img/png/fot5.png"/></li>
							</ul>
						</div>
			
						<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
				</div>
			</div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES</h1>
						<ul>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
						</ul>
					</div>
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	$(function(){
		$("input").focus(function(){
			$(this).attr("placeholder","");
			$(this).siblings(".pl_span").css("display","block");
		})
		$("input").blur(function(){
			
			$(this).attr("placeholder",$(this).siblings(".pl_span").text());
			$(this).siblings(".pl_span").css("display","none");
		})
		
//		地址选择
		$(".add_ol>li .li_label").click(function(){
			$(this).parent().addClass("active").siblings("li").removeClass("active");
		})
		//删除地址
		$(".add_ol .det").click(function(){
			$(this).parent().remove();
		})
		
//		支付方式选择
		$(".pay_ol>li").click(function(){
			$(this).addClass("active").siblings("li").removeClass("active");
		})
		
		//移动支付下拉
		$(".pay_h1").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).siblings(".slide").hide();
				$(this).siblings(".slides").slideDown();
			}else{
				$(this).addClass("active");
				$(this).siblings(".slides").hide();
				$(this).siblings(".slide").slideDown();
			}
		})
		
//		pc右侧下拉
		$(".slide_h1").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).siblings(".slides").stop().fadeIn();
				$(this).siblings(".slide").hide();
			}else{
				$(this).addClass("active");
				$(this).siblings(".slides").hide();
				$(this).siblings(".slide").stop().fadeIn();
			}
		})
		
		
	})
</script>

