<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title></title>
	</head>
	<body>
		<div class="copy-font">
		    <div class="uuid-code" id="content">saidfh3is21111h</div>
		    <button class="btn-copy" id="copyBT">复制</button>
		</div>
	</body>
</html>

<script type="text/javascript">
    function copyArticle(event) {
        const range = document.createRange();
        range.selectNode(document.getElementById('content'));

        const selection = window.getSelection();
        if(selection.rangeCount > 0) selection.removeAllRanges();
        selection.addRange(range);
        document.execCommand('copy');
        
        $("#copyBT").text("复制成功")
    }

    document.getElementById('copyBT').addEventListener('click', copyArticle, false);
</script>