<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>HOME</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<p><i></i>BACK TO SCHOOL SALE is rocking, used code "BACKTOSCHOOL" <span class="hs">save 50% off！</span></p>
			</div>
			
			<div class="nav clearfix">
				<div class="top">
					<div class="content">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
						<a class="logo" href="###">
							<img src="img/png/logo.png"/>
						</a>
					</div>
				</div>
				<div class="bot">
					<div class="content">
						<span class="search"><i></i>All store search</span>
						
						<ul class="nav_ul">
							<li class="active"><a href="###">Home</a></li>
							<li><a href="###">Hot Sales</a></li>
							<li>
								<a href="###">Wigs</a>
								<div style="position: absolute;min-width: 600px;left: 0;">
									<ol class="nav_ol clearfix">
										<li><a href="###">Luxury Hand-Make Wigs Luxury Hand-Make WigsLuxury Hand-Make WigsLuxury Hand-Make Wigs</a></li>
										<li><a href="###">Basic Lace Wig</a></li>
										<li><a href="###">Lace Closure & Frontal</a></li>
									</ol>
								</div>
							</li>
							<li><a href="###">Weaves Box</a></li>
							<li>
								<a href="###">Hair Care</a>
								<div style="position: absolute;min-width: 600px;left: 0;">
									<ol class="nav_ol clearfix">
										<li><a href="###">Accessories</a></li>
										<li><a href="###">Blog</a></li>
									</ol>
								</div>
							</li>
							<li><a href="###">Lagos Store</a></li>
							<li><a href="###">About Us</a></li>
						</ul>
						
						<ol class="img_ol">
							<li class="dl_li">
								<a href="###"></a>
							</li>
							<li class="sc_li">
								<a href="###"></a>
							</li>
							<li class="gw_li">
								<a href="###"></a>
							</li>
							<li class="fb_li">
								<a href="###"></a>
							</li>
							<li class="tb_li">
								<a href="###"></a>
							</li>
						</ol>
						
					</div>
				</div>
			</div>
			
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###"><i>$</i> USD</a>
							<em>/</em>
							<a href="###"><i>₦</i> NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--banner-->
		<div class="in_content clearfix">
			<div class="banner">
				<div class="swiper-container" id="swiper1">
				    <div class="swiper-wrapper" style="cursor:-webkit-grab;">
				      	<div class="swiper-slide ban_img">
				      		<img class="changeimage lazyLoad" data-image='img/banner1.jpg' data-mimage='img/yd_banner1.jpg'  />
				      	</div>
					    <div class="swiper-slide ban_img">
					    	<img class="changeimage lazyLoad" data-image='img/banner2.jpg' data-mimage='img/yd_banner1.jpg'  />
					    </div>
					    <div class="swiper-slide ban_img">
					    	<img class="changeimage lazyLoad" data-image='img/banner1.jpg' data-mimage='img/yd_banner1.jpg'  />
					    </div>
				    </div>
				    <div class="swiper-pagination"></div>
				</div>
			    <div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
		
		<!--内容-->
		<div class="intext1 clearfix">
			<div class="in_coupon clearfix">
				<div class="coupon_pic">
					<img  class="changeimage lazyLoad" data-image='img/coupon_bg.jpg' data-mimage='img/yd_coupon_bg.jpg'/>
				</div>
				
				<ul class="clearfix">
					<li>
						<div class="box clearfix">
							<div class="text">	
								<p class="p1"><span>-</span><i>₦</i>2K</p>
								<p class="p2">FIRST ORDER</p>
								<button type="button">CLICK&nbsp;&nbsp;> </button>
							</div>
							<img src="img/coupin_1.jpg" alt="" />					
							
						</div>
					</li>
					<li>
						<div class="box clearfix">
							<div class="text">	
								<p class="p1">15%OFF</p>
								<p class="p2">Halloween Discount </p>
								<button type="button">CLICK&nbsp;&nbsp;> </button>
							</div>
							<img src="img/coupin_1.jpg" alt="" />					
						</div>
					</li>
					<li>
						<div class="box clearfix">
							<div class="text">	
								<p class="p1"><span>-</span><i>₦</i>5K</p>
								<p class="p2">The Second Wig</p>
								<button type="button">CLICK&nbsp;&nbsp;> </button>
							</div>
							<img src="img/coupin_1.jpg" alt="" />					
						</div>
					</li>
				</ul>
			
			</div>
			
			<div class="content">
				<ul class="in_ul1">
					<li>
						<a href="###">
							<img class="lazyLoad" src="" srcs="img/in_ul1.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="lazyLoad" src="" srcs="img/in_ul2.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="lazyLoad" src="" srcs="img/in_ul3.jpg"/>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="lazyLoad" src="" srcs="img/in_ul4.jpg"/>
						</a>
					</li>
				</ul>
				
				<div class="text1">
					<div class="text_bt">
						<img src="img/png/index_wz.png" alt="" />
						<p><i></i></p>
						<h1>HOT SALE</h1>
						<p><span>FASHION</span></p>
					</div>
					
					<!-- Swiper -->
					  <div class="swiper-container in_ul2">
					    <div class="swiper-wrapper">
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					      <div class="swiper-slide clearfix">
					      	<a class="in_ul2_a clearfix" href="###">
					      		<div class="pic_img">
						      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
					      		</div>
					      		<div class="text">
					      			<h1>FUNMI HAIR WIG </h1>
					      			<p class="ov_text">Raw super double drawn bob Raw super double Raw super double drawn bob Raw super double</p>
					      			<span>₦26K <em>₦46K</em></span>
					      		</div>
					      	</a>
					      </div>
					    </div>
					    <!-- Add Pagination -->
					    <div class="swiper-pagination"></div>
					    <!-- Add Arrows -->
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					  </div>
				
				</div>
				
			</div>
			<div class="bg_hui">
				<div class="text_bt">
					<img src="img/png/index_wz.png" alt="" />
					<p><i></i></p>
					<h1>COMMENTS</h1>
					<p><span>FASHION</span></p>
				</div>
			</div>
			<div class="intext2 clearfix">
				<div class="content">
					<ul class="in_ul3 clearfix">
						<li class="clearfix">
							<div class="con clearfix">
								<a class="img_a" href="javascript:;">
									<img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/>
								</a>
								<div class="text">
									<h2>Aberdeen</h2>
									<ol>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
									</ol>
									<h3>FUNMI HAIR WIG </h3>
									<p>
										This hair is soooo soft . I️m in love . I got 18, long and 
										20, & 22 and it’s very long and 2 and it’s very long and 
										This hair is soooo soft . I️m in love . I got 18, long and 
										20, & 22 and it’s very long and 2 and it’s very long and 
									</p>
									<ul class="clearfix">
										<li><img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/></li>
										<li><img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/></li>
										<li><img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/></li>
									</ul>
									<a href="###" onclick="event.stopPropagation()" class="a_btn">Shop now<em>></em></a>
								</div>
							</div>
						</li>
						<li class="clearfix">
							<div class="con clearfix">
								<a class="img_a" href="javascript:;">
									<img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/>
								</a>
								<div class="text">
									<h2>Aberdeen</h2>
									<ol>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
									</ol>
									<h3>FUNMI HAIR WIG </h3>
									<p>
										This hair is soooo soft . I️m in love . I got 18, long and 
										20, & 22 and it’s very long and 2 and it’s very long and 
										This hair is soooo soft . I️m in love . I got 18, long and 
										20, & 22 and it’s very long and 2 and it’s very long and 
									</p>
									<ul class="clearfix">
										<li><img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/></li>
										<li><img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/></li>
										<li><img class="lazyLoad" src="" srcs="img/in_ul6.jpg"/></li>
									</ul>
									<a href="###" onclick="event.stopPropagation()" class="a_btn">Shop now<em>></em></a>
								</div>
							</div>
						</li>
					</ul>
					<a class="pro_more" href="###">
						<button>VIEW All REVIEWS</button>
					</a>
				</div>
			</div>
			
			<div class="intext3 clearfix">
				<div class="content">
					<div class="text_bt">
						<em class="in3_img"></em>
						<h1>FIND US IN NIGERIA</h1>
					</div>
					
					<div class="bot_map">
						<img class="changeimage lazyLoad" srcs="img/in_ul7.jpg" />
						<div class="map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.316086472699!2d3.347673814511896!3d6.607588724013885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b922901de32d3%3A0x6f07f7e89944cc0d!2zT2JhZmVtaSBBd29sb3dvIFdheSwgSWtlamEsIOWwvOaXpeWIqeS6mg!5e0!3m2!1szh-CN!2sus!4v1542100335451" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<!--pc底部-->
		<div class="footer pc_fot clearfix">
			<div class="top clearfix">
				<ul class="fot_ul1 clearfix">
					<li>
						<h1>COMPANY <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###"><i></i>About Us</a></li>
							<li><a href="###"><i></i>Instagram</a></li>
							<li><a href="###"><i></i>Facebook</a></li>
							<li><a href="###"><i></i>What App</a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">Return Policy</a></li>
							<li><a href="###">Shipping & Handling</a></li>
							<li><a href="###">Terms & Conditions</a></li>
							<li><a href="###">VIP Policy </a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">FAQs</a></li>
							<li><a href="###">Tutorials</a></li>
							<li><a href="###">Feedback</a></li>
						</ol>
					</li>
					<li>
						<h1>SING UP OUR NEWSLETTER! <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<div class="text fot_ol">
							<form >
								<label for="">
									<i></i>
									<input type="text" placeholder="Enter your e-mail"/>
								</label>
								<p>
									join us and get the exclusive sales, productlanunches, 
									wig tips & more directly deliveredto your inbox.
								</p>
								<button type="submit">SUBMIT</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="bot clearfix">
				<ul class="fot_ul2 clearfix">
					<li><img src="img/png/fot1.png"/></li>
					<li><img src="img/png/fot2.png"/></li>
					<li><img src="img/png/fot3.png"/></li>
					<li><img src="img/png/fot4.png"/></li>
					<li><img src="img/png/fot5.png"/></li>
				</ul>
			</div>
			
			<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--yd导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###">Home <i></i></a></li>
						<li><a href="###">Hot Sales <i></i></a></li>
						<li>
							<p class="nav_p active">Wigs <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li><a href="###">Luxury Hand-Make Wigs</a></li>
								<li><a href="###">Lace Wig <span>Stock In Lagos</span></a></li>
								<li><a href="###">Lace Closure & Frontal</a></li>
							</ol>	
						</li>
						<li><a href="###">Weaves Box <i></i></a></li>
						<li>
							<p class="nav_p">Hair Care<i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###">Lagos Store <i></i></a></li>
						<li><a href="###">About Us <i></i></a></li>
						<li><a href="###">Wish List <i></i></a></li>
					</ul>
				</div>
				
			</div>
		</div>
		
		<!--contact弹窗-->
		<div class="con_modal clearfix">
			<div class="text">
				<h1>CONTACT US</h1>
				<ol class="con_ol">
					<li>
						<a class="con_email" href="javascript:;">
							<img class="con_img" src="img/png/icon_86.png"/>
							<p class="con_p">E-mail</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_87.png"/>
							<p class="con_p">WhatsApp</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_88.png"/>
							<p class="con_p">Instagram</p>
						</a>
					</li>
					<li>
						<a href="###">
							<img class="con_img" src="img/png/icon_89.png"/>
							<p class="con_p">Facebook</p>
						</a>
					</li>
				</ol>
			</div>
			
			<div class="context">
				<div class="close"></div>
				<h1>contact us</h1>
				<p>Thank you for your message, we will contact you within 24 hours.</p>
				<form action="">
					<input type="text" placeholder="XIAOXIAO" />
					<input type="text" placeholder="Your Email" />
					<input type="text" placeholder="Your Phone" />
					<textarea placeholder="Message"></textarea>
					<button type="submit">Send Message</button>
				</form>
			</div>
		</div>
		
		<!--客户评价弹窗-->
		<div class="khpj_midal clearfix">
			<div class="text clearfix">
				<div class="close"></div>
				<div class="left clearfix">
					<div class="swiper-container pl_lb">
						
					    <div class="swiper-wrapper">
					        <div class="swiper-slide"><img src="img/yd_in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/in_ul1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/banner1.jpg"/></div>
					        <div class="swiper-slide"><img src="img/png/bf.png"/></div>
					        <div class="swiper-slide"><img src="img/pro_det2.jpg"/></div>
					    </div>
					    <!-- Add Pagination -->
					    <div class="swiper-pagination"></div>
					    <!-- Add Arrows -->
					    <div class="swiper-button-next"></div>
					    <div class="swiper-button-prev"></div>
					</div>
				</div>
				<div class="right clearfix">
					<div class="name clearfix">
						<img src="img/png/touxiang2.png"/>
						<span>A***G</span>
					</div>
					<div class="pro clearfix">
						<img src="img/pro_2.jpg" alt="" />
						<div class="text_p">
							<p>Wholesale Order N14k 2x6 Kim K Lace  Closure 12 Inch</p>
							<span>Length: 16 & 16 & 18</span>
							<a href="###">SHOP NOW</a>
						</div>
					</div>
					<div class="pinlun clearfix">
						<ol class="start_ol">
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li class="active"></li>
							<li></li>
						</ol>
						<span>June 28,2018</span>
						<p>
							Very nice unit...hair is very soft and shiny. Not a lot of shedding lalalala
							aftercowash. I will definitely use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash. I will definitely use 
							this seller again, quick delivery and the seller , use this seller again, quick 
							delivery and the seller stays in touch.Not a lot of shedding aftercowash. 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. use this seller again, quick delivery and the 
							seller stays in touch.Not a lot of shedding aftercowash.Very nice unit...hair 
							is very soft and shiny. Not a lot of shedding aftercowash. I will definitely 
							use this seller again, quick delivery and the seller stays in touch.Not a lot 
							of shedding aftercowash. I will definitely use this seller again, quick 
							delivery and the seller , use this seller again, quick delivery and the seller 
							stays in touch.Not a lot of shedding aftercowash. use this and the seller 
							stays in touch.Not a lot of shedding aftercowash. 
						</p>
						<div class="zan">
							<span>999</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal clearfix">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES </h1>
						<ul class="ls_ul clearfix">
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							<li>
								<a href="###">hair</a>
							</li>
							<li>
								<a href="###">funmi hair</a>
							</li>
							
						</ul>
					</div>
					
					
				</div>
			</div>
		</div>
		
		
		<!--优惠卷弹窗-->
		<div class="in_coupon_tc clearfix">
			<div class="text clearfix">
				<div class="con clearfix">
					<h1>
						Discounts&Coupons<br />
						<p class="bt_p">Can be used in shopping bag directly</p>
					</h1>
					<div class="close"></div>
					<h2>COUPON</h2>
					<ol class="yhj_ol clearfix">
						<li class="active">
							<h3>$5</h3>
							<p>Spend US $500.00, Get US $5 off</p>
							<span>Expires:2018/11/30</span>
							<button class="yh_btn" type="button">Coupon Added</button>
						</li>
						<li>
							<h3>15%OFF</h3>
							<p>Spend US $500.00, Get US $5 off</p>
							<span>Expires:2018/11/30</span>
							<button class="yh_btn" type="button">Get It Now</button>
						</li>
						<li>
							<h3>-$5</h3>
							<p>Spend US $500.00, Get US $5 off</p>
							<span>Expires:2018/11/30</span>
							<button class="yh_btn" type="button">Get It Now</button>
						</li>
						<li>
							<h3>$5</h3>
							<p>Spend US $500.00, Get US $5 off</p>
							<span>Expires:2018/11/30</span>
							<button class="yh_btn" type="button">Get It Now</button>
						</li>
						<li>
							<h3>$5</h3>
							<p>Spend US $500.00, Get US $5 off</p>
							<span>Expires:2018/11/30</span>
							<button class="yh_btn" type="button">Get It Now</button>
						</li>
						<li>
							<h3>$5</h3>
							<p>Spend US $500.00, Get US $5 off</p>
							<span>Expires:2018/11/30</span>
							<button class="yh_btn" type="button">Get It Now</button>
						</li>
					</ol>
				</div>
			</div>
		</div>
		
	</body>
</html>

<script>
	
	$(function(){
		//banner轮播
		var swiper1 = new Swiper('#swiper1', {
			loop:true,
			autoplay: true,
			navigation: {
			    nextEl: '.swiper-button-next',
			    prevEl: '.swiper-button-prev',
			},
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
		    },
		});
		
		//4产品轮播
		var li_w=4;
	  	var win_w = $(window).innerWidth();
	  	if(win_w>920){
	  		li_w=4;
	  		mr_w=30;
	  	}else{
	  		li_w=2;
	  		mr_w="3%";
	  	}
		var swiper2 = new Swiper('.in_ul2', {
		      slidesPerView: li_w,
		      spaceBetween: mr_w ,
		      slidesPerGroup: li_w,
		      loop: true,
		      loopFillGroupWithBlank: true,
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		});
	
		//4产品鼠标经过换图
		$(".in_ul2 .in_ul2_a .pic_img img").hover(function(){
			var src = $(this).attr("data-src");
			$(this).attr("src",src);
		},function(){
			var src = $(this).attr("srcs");
			$(this).attr("src",src);
		})
		
		//2产品小图点击换大图
//		$(".in_ul3 ul>li>img").click(function(){
//			var src = $(this).attr("src");
//			$(this).parents(".con").find(".img_a>img").attr("src",src);
//		});
		//评论弹窗
		$(".in_ul3 .con").click(function(){
			$(".khpj_midal").fadeIn();
			$("body").css("overflow","hidden");
			var swiper = new Swiper('.pl_lb', {
		      pagination: {
		        el: '.swiper-pagination',
		        type: 'fraction',
		      },
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		    });
		});	
		$(".khpj_midal .close").click(function(){
			$(".khpj_midal").fadeOut();
			$("body").css("overflow","");
		});
		//zan
		$(".zan").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
			}else{
				$(this).addClass("active");
			}
		})
		
		
		//优惠券
		$(".in_coupon").click(function(){
			if($(window).width()>920){
				location.href = 'http://www.baidu.com';
			}else{
				$("body").css("overflow","hidden");
				$(".in_coupon_tc").animate({top:"0"});
			}
		});
		$(".in_coupon_tc .close").click(function(){
			$("body").css("overflow","");
			$(".in_coupon_tc").animate({top:"100%"});
		})
		
		$(".yhj_ol>li").click(function(){
			if(!$(this).hasClass("active")){
				$(this).addClass("active");
				$(this).find(".yh_btn").text("Coupon Added");
			}
		})
	})
	
	
</script>

