<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>MY INFORMATION</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<p><i></i>BACK TO SCHOOL SALE is rocking, used code "BACKTOSCHOOL" <span class="hs">save 50% off！</span></p>
			</div>
			
			<div class="nav clearfix">
				<div class="top">
					<div class="content">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
						<a class="logo" href="###">
							<img src="img/png/logo.png"/>
						</a>
					</div>
				</div>
				<div class="bot">
					<div class="content">
						<span class="search"><i></i>All store search</span>
						
						<ul class="nav_ul">
							<li class="active"><a href="###">Home</a></li>
							<li><a href="###">Hot Sales</a></li>
							<li>
								<a href="###">Wigs</a>
								<ol class="nav_ol">
									<li><a href="###">Luxury Hand-Make Wigs</a></li>
									<li><a href="###">Basic Lace Wig</a></li>
									<li><a href="###">Lace Closure & Frontal</a></li>
								</ol>
							</li>
							<li><a href="###">Weaves Box</a></li>
							<li>
								<a href="###">Hair Care</a>
								<ol class="nav_ol">
									<li><a href="###">Accessories</a></li>
									<li><a href="###">Blog</a></li>
								</ol>
							</li>
							<li><a href="###">Lagos Store</a></li>
							<li><a href="###">About Us</a></li>
						</ul>
						
						<ol class="img_ol">
							<li class="dl_li">
								<a href="###"></a>
							</li>
							<li class="sc_li">
								<a href="###"></a>
							</li>
							<li class="gw_li">
								<a href="###"></a>
							</li>
							<li class="fb_li">
								<a href="###"></a>
							</li>
							<li class="tb_li">
								<a href="###"></a>
							</li>
						</ol>
						
					</div>
				</div>
			</div>
			
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		
		<div class="in_content clearfix"></div>
		<!--内容-->
		<div class="order_con clearfix">
			<div class="or_content clearfix">
					<div class="top_yd clearfix">
						<h1><a class="fh" href="###">< BACK</a>My Profile</h1>
					</div>
					
				<div class="lf_nav">
					<img class="tx_img" src="img/png/touxiang.png" alt="" />
					<h2>Tyler Durden</h2>
					<p class="p1">+8613286484822</p>
					
					<ul>
						<li><a href="###"><span>My Orders</span><i></i></a></li>
						<li><a href="###"><span>My Profile</span><i></i></a></li>
						<li class="active"><a href="###"><span>My addresses</span><i></i></a></li>
						<li><a href="###"><span>My Favorites</span><i></i></a></li>
						<li><a href="###"><span>My Coupon</span><i></i></a></li>
					</ul>
					
					<img class="vip_img" src="img/vip.jpg" alt="" />
				</div>
				
				<div class="right_text clearfix">
					
					<div class="grxx_text clearfix">
						<div class="grxx_con clearfix">
							<div class="text_bt clearfix">
								<h2>My Profile</h2>
								<hr />							
							</div>
							
							<div class="tx_div clearfix">
								<img src="img/png/touxiang.png"/>
								<p>Tyler Durden</p>
								<span>+8613286484822</span>
							</div>
							<!--有vip的状态  给div.top加active-->
							<div class="top clearfix">
								<span class="sp_lf">XIAOYANJIN</span>
								<span class="sp_top">VIP I</span>
								<span class="sp_bot"> Join VIP Program Now</span>
								<span class="sp_bot2"> Loyalty point 888</span>
							</div>
							
							<ul class="grxx_ul clearfix">
								<li>
									<span class="lf">Gender:</span>
									<span class="rf">Female</span>
								</li>
								<li>
									<span class="lf">Birthday:</span>
									<span class="rf">2018-9-25</span>
								</li>
								<li>
									<span class="lf">Email:</span>
									<span class="rf">1009844628@qq.com</span>
								</li>
								<li>
									<span class="lf">Phone:</span>
									<span class="rf">+8613286484822</span>
								</li>
								<li>
									<span class="lf">Whatsapp:</span>
									<span class="rf">13286484822</span>
								</li>
								<li>
									<span class="lf">Facebook:</span>
									<span class="rf">13286484822</span>
								</li>
								<li>
									<span class="lf">Instagram:</span>
									<span class="rf">13286484822</span>
								</li>
							</ul>
							<a class="a_edit" href="###"><span>EDIT</span></a>
							
						</div>
					</div>
				
					<a class="change_a" href="###"><span>Change Password</span></a>
				
				</div>
			</div>
			
		</div>
		
		
		
		
		<!--pc底部-->
		<div class="footer pc_fot clearfix">
			<div class="top clearfix">
				<ul class="fot_ul1 clearfix">
					<li>
						<h1>COMPANY <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###"><i></i>About Us</a></li>
							<li><a href="###"><i></i>Instagram</a></li>
							<li><a href="###"><i></i>Facebook</a></li>
							<li><a href="###"><i></i>What App</a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">Return Policy</a></li>
							<li><a href="###">Shipping & Handling</a></li>
							<li><a href="###">Terms & Conditions</a></li>
							<li><a href="###">VIP Policy </a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">FAQs</a></li>
							<li><a href="###">Tutorials</a></li>
							<li><a href="###">Feedback</a></li>
						</ol>
					</li>
					<li>
						<h1>SING UP OUR NEWSLETTER! <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<div class="text fot_ol">
							<form >
								<label for="">
									<i></i>
									<input type="text" placeholder="Enter your e-mail"/>
								</label>
								<p>
									join us and get the exclusive sales, productlanunches, 
									wig tips & more directly deliveredto your inbox.
								</p>
								<button type="submit">SUBMIT</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="bot clearfix">
				<ul class="fot_ul2 clearfix">
					<li><img src="img/png/fot1.png"/></li>
					<li><img src="img/png/fot2.png"/></li>
					<li><img src="img/png/fot3.png"/></li>
					<li><img src="img/png/fot4.png"/></li>
					<li><img src="img/png/fot5.png"/></li>
				</ul>
			</div>
			
			<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
		
		<!--yd导航-->
		<div class="yd_nav_modal">
			<div class="text">
				<div class="top_nav">
					<ul>
						<li><a href="###">Home <i></i></a></li>
						<li><a href="###">Hot Sales <i></i></a></li>
						<li>
							<p class="nav_p active">Wigs <i></i></p>
							<ol class="yd_nav_ol" style="display: block;">
								<li><a href="###">Luxury Hand-Make Wigs</a></li>
								<li><a href="###">Lace Wig <span>Stock In Lagos</span></a></li>
								<li><a href="###">Lace Closure & Frontal</a></li>
							</ol>	
						</li>
						<li><a href="###">Weaves Box <i></i></a></li>
						<li>
							<p class="nav_p">Hair Care<i></i></p>
							<ol class="yd_nav_ol">
								<li><a href="###">Accessories</a></li>
								<li><a href="###">Blogs</a></li>
							</ol>	
						</li>
						<li><a href="###">Lagos Store <i></i></a></li>
						<li><a href="###">About Us <i></i></a></li>
						<li><a href="###">Wish List <i></i></a></li>
					</ul>
				</div>
				
				<div class="bot_fot footer">
						<div class="top clearfix">
							<ul class="fot_ul1 clearfix">
								<li>
									<h1>COMPANY <i></i></h1>
									<ol class="fot_ol">
										<li><a href="###"><i></i>About Us</a></li>
										<li><a href="###"><i></i>Instagram</a></li>
										<li><a href="###"><i></i>Facebook</a></li>
										<li><a href="###"><i></i>What App</a></li>
									</ol>
								</li>
								<li>
									<h1>POLOCIES <i></i></h1>
									<ol class="fot_ol">
										<li><a href="###">Return Policy</a></li>
										<li><a href="###">Shipping & Handling</a></li>
										<li><a href="###">Terms & Conditions</a></li>
										<li><a href="###">VIP Policy </a></li>
									</ol>
								</li>
								<li>
									<h1>POLOCIES <i></i></h1>
									<ol class="fot_ol">
										<li><a href="###">FAQs</a></li>
										<li><a href="###">Tutorials</a></li>
										<li><a href="###">Feedback</a></li>
									</ol>
								</li>
								<li>
									<h1>SING UP OUR NEWSLETTER! <i></i></h1>
									<div class="text fot_ol">
										<form >
											<label for="">
												<i></i>
												<input type="text" placeholder="Enter your e-mail"/>
											</label>
											<p>
												join us and get the exclusive sales, productlanunches, 
												wig tips & more directly deliveredto your inbox.
											</p>
											<button type="submit">SUBMIT</button>
										</form>
									</div>
								</li>
							</ul>
						</div>
						
						<div class="bot clearfix">
							<ul class="fot_ul2 clearfix">
								<li><img src="img/png/fot1.png"/></li>
								<li><img src="img/png/fot2.png"/></li>
								<li><img src="img/png/fot3.png"/></li>
								<li><img src="img/png/fot4.png"/></li>
								<li><img src="img/png/fot5.png"/></li>
							</ul>
						</div>
			
						<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
				</div>
			</div>
		</div>
		
		<!--pc搜索弹窗-->
		<div class="ss_modal">
			<div class="bg_f clearfix">
				<div class="text clearfix">
					<div class="close"><img src="img/png/close.png" alt="" /></div>
					<label class="clearfix" for="">
						<span class="ss_img">
							<input type="submit"/> 
						</span>
						<input class="in_text" type="text" placeholder="Search  keyword" />
						<img class="in_close" src="img/png/icon_24.png" alt="" />
					</label>
					
					<div class="con clearfix">
						<h1>YOUR RECENT SEARCHES</h1>
						<ul>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">hair</a>
								<i></i>
							</li>
							<li>
								<a href="###">funmi hair</a>
								<i></i>
							</li>
						</ul>
					</div>
					<div class="con clearfix">
						<h1>TRENDING SEARCHES</h1>
						<ol>
							<li class="active">
								<a href="###">Hot Sales</a>
							</li>
							<li>
								<a href="###">Funmi Hair</a>
							</li>
							<li>
								<a href="###">Lace Frontal</a>
							</li>
							<li>
								<a href="###">360 Frontal</a>
							</li>
						</ol>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	$(function(){
		//删除订单
		$(".order_con .bot .det").click(function(){
			$(this).parents("li").remove();
		})
		
		$("input").focus(function(){
			$(this).attr("placeholder","");
			$(this).siblings(".pl_span").css("display","block");
		})
		$("input").blur(function(){
			
			$(this).attr("placeholder",$(this).siblings(".pl_span").text());
			$(this).siblings(".pl_span").css("display","none");
		})
		
	})
	
	
	//倒计时
	function show_time() {
        $(".djs_p").each(function() {
            var endtime = $(this).prop("title");
            var time_start = new Date().getTime(); //设定当前时间
            var time_end = new Date(endtime).getTime(); //设定目标时间
            var time_distance = time_end - time_start;
            var timer;
            if (time_distance >= 0) {
                var int_day = Math.floor(time_distance / 86400000)
                time_distance -= int_day * 86400000;
                var int_hour = Math.floor(time_distance / 3600000)
                time_distance -= int_hour * 3600000;
                var int_minute = Math.floor(time_distance / 60000)
                time_distance -= int_minute * 60000;
                var int_second = Math.floor(time_distance / 1000)
                if (int_day < 10) {
                    int_day = "0" + int_day;
                }
                if (int_hour < 10) {
                    int_hour = "0" + int_hour;
                }
                if (int_minute < 10) {
                    int_minute = "0" + int_minute;
                }
                if (int_second < 10) {
                    int_second = "0" + int_second;
                }
                $(this).find(".int_day").text(int_day);
                $(this).find(".int_hour").text(int_hour);
                $(this).find(".int_minute").text(int_minute);
                $(this).find(".int_second").text(int_second);
            }else{
                clearInterval(timer);
                $(this).css("display","none");
            }
        })
        timer = setTimeout("show_time()", 1000);
    }
    show_time();
</script>