<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>PRODUCT DETAILS</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<p><i></i>BACK TO SCHOOL SALE is rocking, used code "BACKTOSCHOOL" <span class="hs">save 50% off！</span></p>
			</div>
			
			<div class="nav clearfix">
				<div class="top">
					<div class="content">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
						<a class="logo" href="###">
							<img src="img/png/logo.png"/>
						</a>
					</div>
				</div>
				<div class="bot">
					<div class="content">
						<span class="search"><i></i>All store search</span>
						
						<ul class="nav_ul">
							<li class="active"><a href="###">Home</a></li>
							<li><a href="###">Hot Sales</a></li>
							<li>
								<a href="###">Wigs</a>
								<ol class="nav_ol">
									<li><a href="###">Luxury Hair-Make Wigs</a></li>
									<li><a href="###">Basic Lace Wig</a></li>
									<li><a href="###">Lace Closure & Frontal</a></li>
								</ol>
							</li>
							<li><a href="###">Weaves Box</a></li>
							<li>
								<a href="###">Accessories</a>
								<ol class="nav_ol">
									<li><a href="###">Hair Care</a></li>
								</ol>
							</li>
							<li><a href="###">Lagos Store</a></li>
							<li><a href="###">About Us</a></li>
						</ul>
						
						<ol class="img_ol">
							<li class="dl_li">
								<a href="###"></a>
							</li>
							<li class="sc_li">
								<a href="###"></a>
							</li>
							<li class="gw_li">
								<a href="###"></a>
							</li>
							<li class="fb_li">
								<a href="###"></a>
							</li>
							<li class="tb_li">
								<a href="###"></a>
							</li>
						</ol>
						
					</div>
				</div>
			</div>
			
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--内容-->
		<div class="in_content clearfix"></div>
		
		<div class="pro_det clearfix">
			<div class="contents clearfix">
				<div class="img_lf">
					<div class="big_lf clearfix">
						<div class="top time" title="2018/10/05 10:06:00">
							<p>Save 15% on your order - Use code: NAIJABEAUTY Apply</p>
							<p>Sales end in 
								<span class="int_day">00</span>:
								<span class="int_hour">00</span>:
								<span class="int_minute">00</span>:
								<span class="int_second">00</span>
							</p>
						</div>
						
						<!--pc左边大图-->
						<ul class="img_ul clearfix">
							<li><img src="img/pro_det1.jpg"/></li>
							<li><img src="img/pro_det2.jpg"/></li>
							<li><img src="img/pro_det2.jpg"/></li>
							<li><img src="img/pro_det1.jpg"/></li>
							<li><img src="img/pro_det1.jpg"/></li>
							<li><img src="img/pro_det2.jpg"/></li>
						</ul>
						
						<!--yd顶部大图轮播-->
						<div class="pro_ban">
							<!-- Swiper -->
						  	<div class="swiper-container yd_ban_lb">
							    <div class="swiper-wrapper">
							      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
							      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
							      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
							      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
							      	<div class="swiper-slide"><img src="img/yd_pro_det1.jpg"/></div>
							    </div>
						  	</div>
						    <!-- Add Pagination -->
						    <div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
				<div class="text_rf">
					<div class="big_rf clearfix">
						<div class="top">
							<h1>ILLUSION FRONTAL KKS WIG</h1>
							<p class="p1">
								It has the natural appearance of scalp wherever the hair is seperated, 
								and imitates most sucessfully the natural movement of real hair. They 
								are virtually undetectable and can be worn in a variety of styles 
								including a high ponytail or updo.
							</p>
							<div class="price">
								<em class="em1">₦100k - ₦120K</em>
								<em class="em2">₦54K- ₦66k</em>
								<span class="red_span">44%OFF</span>
							</div>
						</div>
						
						<ol class="text_ol">
							<li class="clearfix number_li">
								<div class="number">
									<span class="bt_span">
										<p class="quantity">Quantity :</p>
										<input type="text" class="num_in" value="1" />
										<div class="num_rf">
											<em class="add"><i></i></em>
											<em class="sub"><i></i></em>
										</div>
									</span>
									<p class="ts_p">This hair need  3-7 customize process days</p>
								</div>
							</li>
							
							<!--默认选择-->
							<li class="clearfix">
								<span class="bt_span slide">Select Style/Color: <i></i></span>
								<p class="rf_style">5 styles</p>
								<!-- Swiper -->
								<div class="swiper-container pro_det_ul2 slide_ul clearfix">
								    <div class="swiper-wrapper">
								      	<div class="swiper-slide active"><img src="img/pro_det3.jpg" alt="" /></div>
								      	<div class="swiper-slide"><img src="img/pro_det3.jpg" alt="" /></div>
								      	<div class="swiper-slide"><img src="img/pro_det3.jpg" alt="" /></div>
								      	<div class="swiper-slide"><img src="img/pro_det3.jpg" alt="" /></div>
								      	<div class="swiper-slide"><img src="img/pro_det3.jpg" alt="" /></div>
								    </div>
								</div>
							</li>
							
							<!--默认不选择-->
							<li class="clearfix">
								<span class="bt_span slide">Select Length : <em></em> <i></i><p class="ts_ps">Please select Length</p></span>
								
								<ul class="pro_det_ul3 slide_ul clearfix">
									<li><span>12″</span></li>
									<li><span>14″</span></li>
									<li><span>16″</span></li>
									<li><span>18″</span></li>
									<li><span>20″</span></li>
									<li><span>22″</span></li>
									<li><span>24″</span></li>
									<li><span>26″</span></li>
									<li><span>28″(model size)</span></li>
								</ul>
								<p class="size_p">Select Size Guide</p>
								<div class="size_img">
									<div class="img">
										<div class="close"></div>
										<img src="img/size.jpg" alt="" />
									</div>
								</div>
							</li>
							
							<!--默认选中-->
							<li class="clearfix">
								<span class="bt_span slide active">Wig with: <em></em> <i></i></span>
								<ul class="pro_det_ul4 slide_ul clearfix" style="display: none;">
									<li class="active"><span>13*4 Frontal</span></li>
									<li><span>4*4 Closure</span></li>
								</ul>
							</li>
							
							<li class="clearfix number_li_yd">
								<div class="number">
									<p class="quantity">Quantity :</p>
									
									<div class="label">
										<span class="span_sub"><em class="sub"></em></span>
										<input type="text" class="num_in" value="1" />
										<span class="span_add"><em class="add"></em></span>
									</div>
									<p class="ts_p">This hair need  3-7 customize process days</p>
								</div>
							</li>

							
							<li>
								<a class="shop_a" href="###">Add To Shopping Bag</a>
								<button class="wish_btn">
									<span><i></i> Add To Wish List</span>
								</button>
							</li>
							
							<!--默认展开评价-->
							<li class="active">
								<h2 class="">Reviews (119) 
									<ol class="start_ols">
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li class="active"></li>
										<li></li>
									</ol>
								</h2>
								<div class="slide_text">
									<div class="bg_hui clearfix">
										<ol>
											<li><img src="img/png/icon_8.png"/></li>
											<li><img src="img/png/icon_8.png"/></li>
											<li><img src="img/png/icon_8.png"/></li>
											<li><img src="img/png/icon_8.png"/></li>
											<li><img src="img/png/icon_8.png"/></li>
										</ol>
										<span>Average Star Rating</span>
									</div>
									<div class="pl_div">
										<p class="p1 clearfix">
											<span>A***G</span>
											<em>Length: 16 & 16 & 18</em>
										</p>
										<ol class="start_ol">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ol>
										<p class="p2">
											Very nice unit...hair is very soft and shiny. Not a lot of shedding after
											cowash. I will definitely use this seller again, quick delivery and the seller 
											stays in touch.
										</p>
										
										<ol class="pl_img_ol clearfix">
											<li class="active"><img src="img/pro_det4.jpg" alt="" /></li>
											<li><img src="img/pro_det4.jpg" alt="" /></li>
											<li><img src="img/pro_det4.jpg" alt="" /></li>
											<li><img src="img/pro_det4.jpg" alt="" /></li>
											<li><img src="img/pro_det4.jpg" alt="" /></li>
										</ol>
										
										<div class="pro_big_img">
											<div class="text_madal">
												
												<div class="swiper-container" id="swiper3">
												    <div class="swiper-wrapper">
												      	<div class="swiper-slide ban_img">
												      		<img src="img/pro_det5.jpg"/>
												      	</div>
													    <div class="swiper-slide ban_img">
													    	<img src="img/pro_det4.jpg"/>
													    </div>
													    <div class="swiper-slide ban_img">
													    	<img src="img/pro_det5.jpg"/>
													    </div>
													    <div class="swiper-slide ban_img">
												      		<img src="img/pro_det5.jpg"/>
												      	</div>
													    <div class="swiper-slide ban_img">
												      		<img src="img/pro_det5.jpg"/>
												      	</div>
												    </div>
												    <!--<div class="swiper-button-prev"></div>
													<div class="swiper-button-next"></div>-->
													<div class="swiper-paginations" style="display: none;"></div>
												</div>
												<div class="close" ></div>
												<div class="fy_zsq"><i class="fy_i1">2</i>/<i class="fy_i2">5</i></div>
											</div>
										</div>
										
										<a class="view_a" href="###">View All Reviews <i>></i></a>
									</div>
								</div>
							</li>
							
							<li>
								<h2 class="slide_h2">Details <em class="jian"></em></h2>
								<div class="slide_text">
									<div class="details">
										<p>Model Length: 24"</p>
										<p>Fiber: 100% Remy Human Hair</p>
										<p>Density: Full</p>
										<p>Texture: Straight</p>
									</div>
								</div>
							</li>
							
							<li>
								<h2 class="slide_h2">Shipping & Returns <em class="jian"></em></h2>
								<div class="slide_text">
									<dl>
										<dt>Shipping</dt>
										<dd>Ready to ship in 1-3 Days</dd>
										<dd>From Lagos Get the shipping cost</dd>
									</dl>
									<dl>
										<dt>Return Policy</dt>
										<dd class="dd_s">We gladly accept returns and exchanges</dd>
										<dd>Contact us within: 5 days of delivery</dd>
										<dd>Ship items back within : 10 days of delivery</dd>
										
										<dd class="dd_s">We don't accept cancellations</dd>
										<dd>
											But please contact us if you have any problems with your order.
											The following items can't be returned or exchanged
											Because of the nature of these items, unless they arrive damaged or 
											defective,
										</dd>
										
										<dd class="dd_s">I can't accept returns for:</dd>
										<dd>Custom or personalized orders</dd>
										
										<dd class="dd_s">Conditions of return</dd>
										<dd>
											Buyers are responsible for return shipping costs. If the item is not 
											returned in its original condition, the buyer is responsible for any loss 
											in value.
										</dd>
									</dl>
								</div>
							</li>
							<li>
								<h2 class="slide_h2">Payment Method <em class="jian"></em></h2>
								<div class="slide_text">
									<ul class="pay_ul pay_img clearfix">
										<li><img src="img/png/fot1_.png"/></li>
										<li><img src="img/png/fot2_.png"/></li>
										<li><img src="img/png/fot3_.png"/></li>
										<li><img src="img/png/fot4_.png"/></li>
										<li><img src="img/png/fot5_.png"/></li>
									</ul>
								</div>
							</li>
							
							<li>
								<h2 class="slide_h2">Share <em class="jian"></em></h2>
								<div class="slide_text">
									<ul class="pay_ul share_img clearfix">
										<li><a href="###"><img src="img/png/icon_35_.png"/></a></li>
										<li><a href="###"><img src="img/png/icon_34_.png"/></a></li>
									</ul>
								</div>
							</li>
						</ol>
						
					</div>
					
				</div>
				
				
			</div>
		
			<div class="bottom content">
				<button class="ft_btn">Back to top ↑</button>
				<button class="yd_ft_btn"><img src="img/png/icon_7_.png"/><span>TOP</span></button>
				<h5>YOU MAY ALSO LIKE</h5>
				
				<!-- Swiper -->
			  <div class="swiper-container in_ul2">
			    <div class="swiper-wrapper">
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			      <div class="swiper-slide clearfix">
			      	<a class="in_ul2_a clearfix" href="###">
			      		<div class="pic_img">
				      		<img class="lazyLoad" src="" srcs="img/in_ul5.jpg" data-src="img/in_ul6.jpg"/>
			      		</div>
			      		<div class="text">
			      			<h1>FUNMI HAIR WIG </h1>
			      			<span>₦26K <em>₦46K</em></span>
			      		</div>
			      	</a>
			      </div>
			    </div>
			    <!-- Add Arrows -->
			    <div class="swiper-button-next"></div>
			    <div class="swiper-button-prev"></div>
			  </div>
				
			</div>
		</div>
		
		
		
		<!--pc底部-->
		<div class="footer clearfix">
			<div class="top clearfix">
				<ul class="fot_ul1 clearfix">
					<li>
						<h1>COMPANY <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###"><i></i>About Us</a></li>
							<li><a href="###"><i></i>Instagram</a></li>
							<li><a href="###"><i></i>Facebook</a></li>
							<li><a href="###"><i></i>What App</a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">Return Policy</a></li>
							<li><a href="###">Shipping & Handling</a></li>
							<li><a href="###">Terms & Conditions</a></li>
							<li><a href="###">VIP Policy </a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">FAQs</a></li>
							<li><a href="###">Tutorials</a></li>
							<li><a href="###">Feedback</a></li>
						</ol>
					</li>
					<li>
						<h1>SING UP OUR NEWSLETTER! <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<div class="text fot_ol">
							<form >
								<label for="">
									<i></i>
									<input type="text" placeholder="Enter your e-mail"/>
								</label>
								<p>
									join us and get the exclusive sales, productlanunches, 
									wig tips & more directly deliveredto your inbox.
								</p>
								<button type="submit">SUBMIT</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="bot clearfix">
				<ul class="fot_ul2 clearfix">
					<li><img src="img/png/fot1.png"/></li>
					<li><img src="img/png/fot2.png"/></li>
					<li><img src="img/png/fot3.png"/></li>
					<li><img src="img/png/fot4.png"/></li>
					<li><img src="img/png/fot5.png"/></li>
				</ul>
			</div>
			
			<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
	</body>
</html>
<script>
window.onload=function(){
	$(function(){
		//动态改变头部红色广告条的宽度
		if($(window).width()>920){
			var p_win = 100/parseInt($(".time>p").length);
			$(".pro_det .img_lf .time>p").css("width",p_win+"%");
		}
		
		//数量加减
		$(".number .num_rf>.add , .number .span_add").click(function(){
			var num_val =$(this).parents(".number").find(".num_in").val();
			num_val++;
			$(this).parents(".number").find(".num_in").val(num_val);
		})
		$(".number .num_rf>.sub , .number .span_sub").click(function(){
			var num_val =$(this).parents(".number").find(".num_in").val();
			if(num_val>1){
				num_val--;
				$(this).parents(".number").find(".num_in").val(num_val);
			}
		})
		
		//style/color选择
		new Swiper('.pro_det_ul2', {
	      slidesPerView: 3.3,
	      spaceBetween: '3%',
	    });
		$(".pro_det_ul2 .swiper-slide").click(function(){
			$(this).addClass("active").siblings(".swiper-slide").removeClass("active");
		})
		//length选择
		$(".pro_det_ul3>li>span").click(function(){
			$(this).parents("li").addClass("active").siblings("li").removeClass("active");
			$(this).parents("li").find(".slide>em").text($(this).text());
		})
		//wig with选择
		$(".pro_det_ul4").siblings(".bt_span").find("em").text($(".pro_det_ul4>li").eq(0).find("span").text());
		$(".pro_det_ul4>li").click(function(){
			$(this).addClass("active").siblings("li").removeClass("active");
			$(this).parents("li").find(".slide>em").text($(this).text());
		})
		
		//Wish List添加收藏
		$(".wish_btn").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
			}else{
				$(this).addClass("active");
			}
		})
		
		//下拉收起
		$(".slide").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
				$(this).siblings(".slide_ul").stop().slideDown();
			}else{
				$(this).addClass("active");
				$(this).siblings(".slide_ul").stop().slideUp();
			}
			setTimeout(function(){
				rl_scroll();
			},250)
		})
		$(".pro_det .text_rf .text_ol>li.active .slide_text").css("display","block");		
		$(".slide_h2").click(function(){
			if($(this).parent().hasClass("active")){
				$(this).siblings(".slide_text").stop().slideUp();
				$(this).parent().removeClass("active");
				$(this).find("em").removeClass("active");
			}else{
				$(".slide_h2").siblings(".slide_text").stop().slideUp();
				$(".slide_h2").parent().removeClass("active");
				$(".slide_h2").find("em").removeClass("active");
				$(this).siblings(".slide_text").stop().slideDown();
				$(this).parent().addClass("active");
				$(this).find("em").addClass("active");
			}
			setTimeout(function(){
				rl_scroll();
			},250)
		})
		
		
		//绑定评价轮播
		var modal_off = 0;
		$(".pl_img_ol>li").click(function(event){
			event.stopPropagation();
			var this_index = $(this).index();
			var this_len = $(".pl_img_ol>li").length;
			$(this).addClass("active").siblings("li").removeClass("active");
			$(".fy_zsq .fy_i1").text(this_index+1);
			$(".fy_zsq .fy_i2").text(this_len);
			$(".pro_big_img").show();
			modal_off = 1;
			setTimeout(function(){
				rl_scroll();
			},250)
			
//			评价轮播
			var loopzt;
			if($(window).width()>920){
				loopzt = true;
			}else{
				loopzt = false;
			}
			
			new Swiper('#swiper3', {
				autoHeight: true,
				loop: loopzt,
				pagination: {
					el: '.swiper-paginations',
					clickable: true,
			    },
			    on: {
				    slideChangeTransitionStart: function(){
				    	if($(window).width()>920){
				    		$(".pl_img_ol>li").eq(this.activeIndex-1).addClass("active").siblings("li").removeClass("active");
				    	}else{
				    		$(".pl_img_ol>li").eq(this.activeIndex).addClass("active").siblings("li").removeClass("active");
				    	}
				      
				      $(".fy_zsq .fy_i1").text(this.activeIndex+1);
					  $(".fy_zsq .fy_i2").text($(".pl_img_ol>li").length);
				      setTimeout(function(){
						rl_scroll();
					},250)
				    },
				 },
			});
			$(".pro_big_img .swiper-pagination-clickable span").eq(this_index).trigger('click');
		})
		//关闭评价轮播
		$(".pro_big_img .close").click(function(){
			$(".pro_big_img").hide();
		})
		$("body").click(function(e){
			if($(window).width()<=920){
				if(modal_off==1){
					var close = $('.text_madal .swiper-container img , .text_madal .swiper-paginations'); 
				   	if(!close.is(e.target) && close.has(e.target).length === 0){
				      	$(".pro_big_img").slideUp();
					}
				}
				
		   }
		})
		
		//返回顶部
		$(".bottom .ft_btn,.bottom .yd_ft_btn").click(function(event){
			event.preventDefault();
			$('html,body').animate({
			    scrollTop: 0
			}, 500);
		})
		
//		pc端滚动触发左右内容滚动
		$(document).scroll(function(){
	        rl_scroll();
	    });
	
		//ydban轮播
		if($(window).innerWidth()<=920){
			new Swiper('.yd_ban_lb', {
			  autoplay: true,
			  pagination: {
			    el: '.swiper-pagination',
			    clickable: true,
			  },
			});
		}
		
		//底部产品轮播
		var li_w=4;
	  	if($(window).innerWidth()>920){
	  		li_w=4;
	  		mr_w=30;
	  	}else{
	  		li_w=2;
	  		mr_w="3%";
	  	}
		new Swiper('.in_ul2', {
		      slidesPerView: li_w,
		      spaceBetween: mr_w ,
		      slidesPerGroup: li_w,
		      loop: true,
		      autoplay: true,
		      loopFillGroupWithBlank: true,
		      navigation: {
		        nextEl: '.swiper-button-next',
		        prevEl: '.swiper-button-prev',
		      },
		});
		
		
	})
	function rl_scroll(){
		if($(window).innerWidth()>920){
			var left =  $(".img_lf").height();
			var right =  $(".text_rf").height();
			var nav_h = $(".nav").height();
	        var top = $(document).scrollTop();
	        var win_h = $(window).height();
	        $(".img_lf").css("position","relative").css("top","0");  
	        if(left<right){
	        	if(top>=left-win_h){
	        		$(".img_lf").css("position","fixed").css("top",-(left-win_h)+"px"); 
		        }else{
		        	$(".img_lf").css("position","relative").css("top","0");    
		        }
		        if(top>=right-win_h+nav_h){
		        	$(".img_lf").css("position","absolute").css("top","auto").css("bottom",0); 
		        }
	        }
		}
	}
	rl_scroll();
	
	
	$(".text_rf").resize(function() {
	    console.log($(this).height());
	});
	
	//size
	$(".size_p").click(function(){
		$(".size_img").fadeIn();
		$("body").css("overflow","hidden");
	})
	$(".size_img .close").click(function(){
		$(".size_img").fadeOut();
		$("body").css("overflow","");
	})
	$(".size_img").click(function(e){
      var close = $('.size_img .img'); 
         if(!close.is(e.target) && close.has(e.target).length === 0){
           $(".size_img").fadeOut();
           $("body").css("overflow","");
      }
    })
	
	
}



//倒计时
	function show_time() {
        $(".time").each(function() {
            var endtime = $(this).prop("title");
            var time_start = new Date().getTime(); //设定当前时间
            var time_end = new Date(endtime).getTime(); //设定目标时间
            var time_distance = time_end - time_start;
            var timer;
            if (time_distance >= 0) {
                var int_day = Math.floor(time_distance / 86400000)
                time_distance -= int_day * 86400000;
                var int_hour = Math.floor(time_distance / 3600000)
                time_distance -= int_hour * 3600000;
                var int_minute = Math.floor(time_distance / 60000)
                time_distance -= int_minute * 60000;
                var int_second = Math.floor(time_distance / 1000)
                if (int_day < 10) {
                    int_day = "0" + int_day;
                }
                if (int_hour < 10) {
                    int_hour = "0" + int_hour;
                }
                if (int_minute < 10) {
                    int_minute = "0" + int_minute;
                }
                if (int_second < 10) {
                    int_second = "0" + int_second;
                }
                $(this).find(".int_day").text(int_day);
                $(this).find(".int_hour").text(int_hour);
                $(this).find(".int_minute").text(int_minute);
                $(this).find(".int_second").text(int_second);
            }else{
                clearInterval(timer);
                $(this).css("display","none");
            }
        })
        timer = setTimeout("show_time()", 1000);
    }
    show_time();

</script>

