<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/swiper.min.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/swiper.js" ></script>
		<title>PRODUCT4</title>
	</head>
	<body>
		<!--头部-->
		<div class="big_nav">
			<div class="gg_nav">
				<p><i></i>BACK TO SCHOOL SALE is rocking, used code "BACKTOSCHOOL" <span class="hs">save 50% off！</span></p>
			</div>
			
			<div class="nav clearfix">
				<div class="top">
					<div class="content">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
						<a class="logo" href="###">
							<img src="img/png/logo.png"/>
						</a>
					</div>
				</div>
				<div class="bot">
					<div class="content">
						<span class="search"><i></i>All store search</span>
						
						<ul class="nav_ul">
							<li class="active"><a href="###">Home</a></li>
							<li><a href="###">Hot Sales</a></li>
							<li>
								<a href="###">Wigs</a>
								<ol class="nav_ol">
									<li><a href="###">Luxury Hair-Make Wigs</a></li>
									<li><a href="###">Basic Lace Wig</a></li>
									<li><a href="###">Lace Closure & Frontal</a></li>
								</ol>
							</li>
							<li><a href="###">Weaves Box</a></li>
							<li>
								<a href="###">Accessories</a>
								<ol class="nav_ol">
									<li><a href="###">Hair Care</a></li>
								</ol>
							</li>
							<li><a href="###">Lagos Store</a></li>
							<li><a href="###">About Us</a></li>
						</ul>
						
						<ol class="img_ol">
							<li class="dl_li">
								<a href="###"></a>
							</li>
							<li class="sc_li">
								<a href="###"></a>
							</li>
							<li class="gw_li">
								<a href="###"></a>
							</li>
							<li class="fb_li">
								<a href="###"></a>
							</li>
							<li class="tb_li">
								<a href="###"></a>
							</li>
						</ol>
						
					</div>
				</div>
			</div>
			
			<div class="yd_nav">
				<ul class="yd_navul">
					<li class="kg_li"></li>
					<li class="logo_li"><a href="###"></a></li>
					<li class="ss_li"></li>
					<li class="mn_li">
						<p class="money">
							<a class="active" href="###">$ USD</a>
							<em>/</em>
							<a href="###">₦ NGN</a>
						</p>
					</li>
					<li class="gw_li"></li>
				</ul>
			</div>
		</div>
		<!--内容-->
		<div class="in_content clearfix"></div>
		
		<div class="product product4 clearfix">
			<div class="pro_ban">
				<div class="content">
					<div class="swiper-container">
					    <div class="swiper-wrapper">
					      	<div class="swiper-slide"><img class="ban_img changeimage lazyLoad" data-image='img/pro_ban3.jpg' data-mimage='img/yd_pro_ban3.jpg'  /></div>
					      	<div class="swiper-slide" style="cursor: pointer;position: relative;display: block;">
					      		<div class="bf_img" ></div>
				      			<video id="my_video" src="img/myvideo.mp4" width="100%"></video>
					      	</div>
					    </div>
					    <div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
				       <!-- Add Pagination -->
						<!--<div class="swiper-pagination"></div>-->
					 </div>
				</div>
			</div>
			
			<div class="content">
				<div class="top_f clearfix">
					<h1>One Weaves Box One Look</h1>
					<p>219 items found</p>
					<div class="sortby">
						<p>Sort by : <img src="img/png/icon_26.png	" alt="" /></p>
						<ul class="clearfix">
							<li><a href="###">Best selling</a></li>
							<li><a href="###">Newest</a></li>
							<li><a href="###">Lowest price</a></li>
							<li><a href="###">Highest price</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="pro_text">
				<div class="content">
					<ul class="pro_ul clearfix">
						<li>
							<a href="###">
								<div class="pic_img">
									<img class="top_img lazyLoad" srcs="img/pro_3.jpg" data-src="img/pro_3.jpg" alt="" class="top_img" />
								</div>
								<div class="text clearfix">
									<h2>FUNMI HAIR WIG </h2>
									<div class="pl_div">
										<ol class="start_ol">
											<li></li>
											<li></li>
											<li></li>
											<li></li>
											<li></li>
										</ol>
										<p class="pl_p">9999 reviews</p>
									</div>
									<p class="yd_textp">
										In 2014, N.B Hair was created to be a trendsetter of affordable lux wig ,aimed  
										the most creative though of hair fashion to Nigeria. N.B Hair not only focus 
										avant-garde hair design, but also striking 
									</p>									
									<span class="price">₦26K <em>₦46K </em></span>
									<span class="yd_btna" href="###">SHOW</span>
								</div>
							</a>
							<div class="sc"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img class="top_img lazyLoad" srcs="img/pro_3.jpg" data-src="img/pro_3.jpg" alt="" class="top_img" />
								</div>
								<div class="text clearfix">
									<h2>FUNMI HAIR WIG </h2>
									<div class="pl_div">
										<ol class="start_ol">
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
											<li></li>
											<li></li>
										</ol>
										<p class="pl_p">9999 reviews</p>
									</div>
									<p class="yd_textp">
										In 2014, N.B Hair was created to be a trendsetter of affordable lux wig ,aimed  
										the most creative though of hair fashion to Nigeria. N.B Hair not only focus 
										avant-garde hair design, but also striking 
									</p>									
									<span class="price">₦26K <em>₦46K </em></span>
									<span class="yd_btna" href="###">SHOW</span>
								</div>
							</a>
							<div class="sc"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img class="top_img lazyLoad" srcs="img/pro_3.jpg" data-src="img/pro_3.jpg" alt="" class="top_img" />
								</div>
								<div class="text clearfix">
									<h2>FUNMI HAIR WIG </h2>
									<div class="pl_div">
										<ol class="start_ol">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
											<li></li>
										</ol>
										<p class="pl_p">9999 reviews</p>
									</div>
									<p class="yd_textp">
										In 2014, N.B Hair was created to be a trendsetter of affordable lux wig ,aimed  
										the most creative though of hair fashion to Nigeria. N.B Hair not only focus 
										avant-garde hair design, but also striking 
									</p>									
									<span class="price">₦26K <em>₦46K </em></span>
									<span class="yd_btna" href="###">SHOW</span>
								</div>
							</a>
							<div class="sc"></div>
						</li>
						<li>
							<a href="###">
								<div class="pic_img">
									<img class="top_img lazyLoad" srcs="img/pro_3.jpg" data-src="img/pro_3.jpg" alt="" class="top_img" />
								</div>
								<div class="text clearfix">
									<h2>FUNMI HAIR WIG </h2>
									<div class="pl_div">
										<ol class="start_ol">
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ol>
										<p class="pl_p">9999 reviews</p>
									</div>
									<p class="yd_textp">
										In 2014, N.B Hair was created to be a trendsetter of affordable lux wig ,aimed  
										the most creative though of hair fashion to Nigeria. N.B Hair not only focus 
										avant-garde hair design, but also striking 
									</p>									
									<span class="price">₦26K <em>₦46K </em></span>
									<span class="yd_btna" href="###">SHOW</span>
								</div>
							</a>
							<div class="sc"></div>
						</li>
					</ul>
				
					<div class="fy_div">
						<ul>
							<li><a href="###">< Last</a></li>
							<li><a href="###">1</a></li>
							<li><a href="###">2</a></li>
							<li><a href="###">3</a></li>
							<li><a href="###">4</a></li>
							<li class="active"><a href="###">5</a></li>
							<li><a href="###">6</a></li>
							<li><a href="###">7</a></li>
							<li><a href="###">8</a></li>
							<li><a href="###">Next ></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<!--pc底部-->
		<div class="footer clearfix">
			<div class="top clearfix">
				<ul class="fot_ul1 clearfix">
					<li>
						<h1>COMPANY <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###"><i></i>About Us</a></li>
							<li><a href="###"><i></i>Instagram</a></li>
							<li><a href="###"><i></i>Facebook</a></li>
							<li><a href="###"><i></i>What App</a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">Return Policy</a></li>
							<li><a href="###">Shipping & Handling</a></li>
							<li><a href="###">Terms & Conditions</a></li>
							<li><a href="###">VIP Policy </a></li>
						</ol>
					</li>
					<li>
						<h1>POLOCIES <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<ol class="fot_ol">
							<li><a href="###">FAQs</a></li>
							<li><a href="###">Tutorials</a></li>
							<li><a href="###">Feedback</a></li>
						</ol>
					</li>
					<li>
						<h1>SING UP OUR NEWSLETTER! <img class="fot_img" src="img/png/icon_11.png" alt=""/></h1>
						<div class="text fot_ol">
							<form >
								<label for="">
									<i></i>
									<input type="text" placeholder="Enter your e-mail"/>
								</label>
								<p>
									join us and get the exclusive sales, productlanunches, 
									wig tips & more directly deliveredto your inbox.
								</p>
								<button type="submit">SUBMIT</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="bot clearfix">
				<ul class="fot_ul2 clearfix">
					<li><img src="img/png/fot1.png"/></li>
					<li><img src="img/png/fot2.png"/></li>
					<li><img src="img/png/fot3.png"/></li>
					<li><img src="img/png/fot4.png"/></li>
					<li><img src="img/png/fot5.png"/></li>
				</ul>
			</div>
			
			<p class="fot_p">Copyright © 2018, naijabeautyhair. Powered by Shopify</p>
		</div>
		<div class="yd_footer2">
			<ol class="ol_ydfot clearfix">
				<li class="active">
					<a href="###">
						<img src="img/png/fot_1.png" alt="" />
						<img class="active" src="img/png/fot_1_.png" alt="" />
						<p>Home</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_2.png" alt="" />
						<img class="active" src="img/png/fot_2_.png" alt="" />
						<p>Collection</p>
					</a>
				</li>
				<li>
					<a class="contact" href="javascript:0;">
						<img src="img/png/fot_3.png" alt="" />
						<img class="active" src="img/png/fot_3_.png" alt="" />
						<p>Contact</p>
					</a>
				</li>
				<li>
					<a href="###">
						<img src="img/png/fot_4.png" alt="" />
						<img class="active" src="img/png/fot_4_.png" alt="" />
						<p>Me</p>
					</a>
				</li>
			</ol>
		</div>
		
		
		<!--返回顶部-->
		<div class="xf_right">
			<div class="vip"><a href="###"><span>VIP</span></a></div>
		</div>
	</body>
</html>
<script>
	
	$(function(){
        
		//ban輪播
		var swiper = new Swiper('.swiper-container', {
			loop : true,
			navigation: {
			    nextEl: '.swiper-button-next',
			    prevEl: '.swiper-button-prev',
			},
//	      pagination: {
//	        el: '.swiper-pagination',
//	        clickable :true,
//	      },
	    });
		//鼠标覆盖停止自动切换
//			swiper.el.onmouseover = function(){
//			  swiper.autoplay.stop();
//			}
//			swiper.el.onmouseout = function(){
//			  swiper.autoplay.start();
//			}
			
		var myvideo = document.getElementById("my_video");
        $(".bf_img").click(function(){
        	myvideo.play();
        	$(".bf_img").hide()
        	$("#my_video").attr("controls","controls");
        })
		myvideo.addEventListener('pause',function(){  
			$(".bf_img").show()
		    $('#my_video').removeAttr("controls");
		})
        
		
		$(".sortby").hover(function(){
			$(this).find("ul").stop().slideDown();
		},function(){
			$(this).find("ul").stop().slideUp();
		})
		
		//收藏
		$(".sc").click(function(){
			if($(this).hasClass("active")){
				$(this).removeClass("active");
			}else{
				$(this).addClass("active");
			}
		})
		
		//产品鼠标经过换图
		$(".product .pro_text .pro_ul>li .top_img").hover(function(){
			var src = $(this).attr("data-src");
			$(this).attr("src",src);
		},function(){
			var src = $(this).attr("srcs");
			$(this).attr("src",src);
		})
	})
	
	//倒计时
	function show_time() {
        $(".djs_p").each(function() {
            var endtime = $(this).prop("title");
            var time_start = new Date().getTime(); //设定当前时间
            var time_end = new Date(endtime).getTime(); //设定目标时间
            var time_distance = time_end - time_start;
            var timer;
            if (time_distance >= 0) {
                var int_day = Math.floor(time_distance / 86400000)
                time_distance -= int_day * 86400000;
                var int_hour = Math.floor(time_distance / 3600000)
                time_distance -= int_hour * 3600000;
                var int_minute = Math.floor(time_distance / 60000)
                time_distance -= int_minute * 60000;
                var int_second = Math.floor(time_distance / 1000)
                if (int_day < 10) {
                    int_day = "0" + int_day;
                }
                if (int_hour < 10) {
                    int_hour = "0" + int_hour;
                }
                if (int_minute < 10) {
                    int_minute = "0" + int_minute;
                }
                if (int_second < 10) {
                    int_second = "0" + int_second;
                }
                $(this).find(".int_day").text(int_day);
                $(this).find(".int_hour").text(int_hour);
                $(this).find(".int_minute").text(int_minute);
                $(this).find(".int_second").text(int_second);
            }else{
                clearInterval(timer);
                $(this).parent(".bg_hui").css("display","none");
            }
        })
        timer = setTimeout("show_time()", 1000);
    }
    show_time();
    
    
    window.onload=function(){
    	var img_h = $(".pro_ban img.ban_img").height();
		$(".pro_ban video").css("max-height",img_h+"px");
    }
    
</script>

